This document contains all the meta information regarding the columns described in the CSV files for a comprehensive analysis of IPL matches over the past three years (2021, 2022, 2023). We have provided 4 CSV files:

1. dim_match_summary

2. fact_batting_summary

3. fact_bowling_summary

4. dim_players





Column Description for dim_match_summary:

- team1: Name of the team batting first.

- team2: Name of the team batting second.

- winner: The team that won the match.

- margin: The margin by which the winning team won (runs or wickets).

- matchDate: The date on which the match was played, formatted as MMM DD, YYYY.

- match_id: Unique identifier for each match, prefixed with 'T'.

*******************************************



Column Description for dim_players:

- name: The full name of the player.

- team: The IPL team the player is associated with.

- battingStyle: The batting style of the player (e.g., Right hand Bat, Left hand Bat).

- bowlingStyle: The bowling style of the player (e.g., Right arm Offbreak, Legbreak).

- playingRole: The primary role of the player in the team (e.g., Batter, Bowler, Allrounder).



*******************************************



Column Description for fact_batting_summary:

match_id: Links to the dim_match_summary for match details, prefixed with 'T'.

match: Description of the match in "Team1 Vs Team2" format.

teamInnings: The team that is batting in the specified innings.

battingPos: The batting order position of the player.

batsmanName: The name of the batsman.

out/not_out: Indicates whether the batsman was out or not out.

runs: The number of runs scored by the batsman.

balls: The number of balls faced by the batsman.

4s: The number of boundaries (4 runs) hit by the batsman.

6s: The number of sixes hit by the batsman.

SR (Strike Rate): The strike rate of the batsman during the innings.


*******************************************





Column Description for fact_bowling_summary:

match_id: Links to the dim_match_summary for match details, prefixed with 'T'.

match: Description of the match in "Team1 Vs Team2" format.

bowlingTeam: The team that is bowling in the specified innings.

bowlerName: The name of the bowler.

overs: The number of overs bowled by the player.

maiden: The number of maiden overs bowled.

runs: The number of runs conceded by the bowler.

wickets: The number of wickets taken by the bowler.

economy: The bowler's economy rate.

0s: The number of dot balls bowled.

4s: The number of boundaries conceded.

6s: The number of sixes conceded.

wides: The number of wide balls bowled.

noBalls: The number of no balls bowled.





*******************************************

In [57]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sravanthi\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sravanthi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sravanthi\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sravanthi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sravanthi\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sravanthi\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
import pandas as pd

In [59]:
matches=pd.read_csv("IPL DS\dim_match_summary.csv")
players=pd.read_csv("IPL DS\dim_players.csv")
bat_sum=pd.read_csv("IPL DS\\fact_bating_summary.csv")
bowl_sum=pd.read_csv("IPL DS\\fact_bowling_summary.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Sravanthi\AppData\Local\Temp\ipykernel_17156\83693405.py:1: SyntaxWarning: invalid escape sequence '\d'
  matches=pd.read_csv("IPL DS\dim_match_summary.csv")
C:\Users\Sravanthi\AppData\Local\Temp\ipykernel_17156\83693405.py:2: SyntaxWarning: invalid escape sequence '\d'
  players=pd.read_csv("IPL DS\dim_players.csv")

In [60]:
print(matches.info())

print(matches.head())

matches.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   team1      206 non-null    object
 1   team2      206 non-null    object
 2   winner     206 non-null    object
 3   margin     206 non-null    object
 4   matchDate  206 non-null    object
 5   match_id   206 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB
None
         team1        team2       winner     margin     matchDate match_id
0  Super Kings          KKR  Super Kings    27 runs  Oct 15, 2021  T203817
1     Capitals          KKR          KKR  3 wickets  Oct 13, 2021  T206442
2          RCB          KKR          KKR  4 wickets  Oct 11, 2021  T208597
3     Capitals  Super Kings  Super Kings  4 wickets  Oct 10, 2021  T201819
4     Capitals          RCB          RCB  7 wickets   Oct 8, 2021  T205942

              team1 team2       winner     margin    matchDate match_id
count           206   206          206        206          206      206
unique           10    10           10         62          166      206
top     Super Kings   KKR  Super Kings  6 wickets  Oct 8, 2021  T203817
freq             29    27           25         25            2        1

In [61]:
print(players.info())

print(players.head())

players.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          292 non-null    object
 1   team          292 non-null    object
 2   battingStyle  292 non-null    object
 3   bowlingStyle  292 non-null    object
 4   playingRole   292 non-null    object
dtypes: object(5)
memory usage: 11.5+ KB
None
             name         team    battingStyle        bowlingStyle  \
0  RuturajGaikwad  Super Kings  Right hand Bat  Right arm Offbreak
1    FafduPlessis  Super Kings  Right hand Bat            Legbreak
2    RobinUthappa  Super Kings  Right hand Bat    Right arm Medium
3        MoeenAli  Super Kings   Left hand Bat  Right arm Offbreak
4     ShubmanGill          KKR  Right hand Bat  Right arm Offbreak

           playingRole
0               Batter
1  Middle order Batter
2               Batter
3   Batting Allrounder
4       Opening Batter

                  name    team    battingStyle        bowlingStyle playingRole
count              292     292             292                 292         292
unique             292      10               2                  19           9
top     RuturajGaikwad  Mumbai  Right hand Bat  Right arm Offbreak      Bowler
freq                 1      39             210                  52         117

In [62]:
print(bat_sum.info)

print(bat_sum.head())

bat_sum.describe()

<bound method DataFrame.info of      match_id                  match  teamInnings  battingPos     batsmanName  \
0     T203817     Super Kings Vs KKR  Super Kings           1  RuturajGaikwad
1     T203817     Super Kings Vs KKR  Super Kings           2    FafduPlessis
2     T203817     Super Kings Vs KKR  Super Kings           3    RobinUthappa
3     T203817     Super Kings Vs KKR  Super Kings           4        MoeenAli
4     T203817     Super Kings Vs KKR          KKR           1     ShubmanGill
...       ...                    ...          ...         ...             ...
3263  T201566  Super Kings Vs Titans       Titans           3    SaiSudharsan
3264  T201566  Super Kings Vs Titans       Titans           4    HardikPandya
3265  T201566  Super Kings Vs Titans       Titans           5    VijayShankar
3266  T201566  Super Kings Vs Titans       Titans           6    RahulTewatia
3267  T201566  Super Kings Vs Titans       Titans           7      RashidKhan

     out/not_out  runs  balls  4s  6s      SR
0            out    32     27   3   1  118.51
1            out    86     59   7   3  145.76
2            out    31     15   0   3  206.66
3        not_out    37     20   2   3  185.00
4            out    51     43   6   0  118.60
...          ...   ...    ...  ..  ..     ...
3263         out    22     17   3   0  129.41
3264         out     8     11   0   0   72.72
3265         out    27     21   2   1  128.57
3266     not_out    15     14   1   1  107.14
3267     not_out    10      3   1   1  333.33

[3268 rows x 11 columns]>
  match_id               match  teamInnings  battingPos     batsmanName  \
0  T203817  Super Kings Vs KKR  Super Kings           1  RuturajGaikwad
1  T203817  Super Kings Vs KKR  Super Kings           2    FafduPlessis
2  T203817  Super Kings Vs KKR  Super Kings           3    RobinUthappa
3  T203817  Super Kings Vs KKR  Super Kings           4        MoeenAli
4  T203817  Super Kings Vs KKR          KKR           1     ShubmanGill

  out/not_out  runs  balls  4s  6s      SR
0         out    32     27   3   1  118.51
1         out    86     59   7   3  145.76
2         out    31     15   0   3  206.66
3     not_out    37     20   2   3  185.00
4         out    51     43   6   0  118.60

        battingPos         runs        balls           4s           6s
count  3268.000000  3268.000000  3268.000000  3268.000000  3268.000000
mean      4.772032    19.820073    14.700734     1.744798     0.875459
std       2.714852    21.885699    13.516978     2.329142     1.426316
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%       2.000000     3.000000     4.000000     0.000000     0.000000
50%       4.000000    12.000000    10.000000     1.000000     0.000000
75%       7.000000    29.000000    21.000000     3.000000     1.000000
max      11.000000   140.000000    70.000000    16.000000    10.000000

In [63]:
print(bowl_sum.info)

print(bowl_sum.head())

bowl_sum.describe()

<bound method DataFrame.info of      match_id                  match  bowlingTeam             bowlerName  \
0     T203817     Super Kings Vs KKR          KKR          ShakibAlHasan
1     T203817     Super Kings Vs KKR          KKR             ShivamMavi
2     T203817     Super Kings Vs KKR          KKR         LockieFerguson
3     T203817     Super Kings Vs KKR          KKR      VarunChakravarthy
4     T203817     Super Kings Vs KKR          KKR            SunilNarine
...       ...                    ...          ...                    ...
2431  T201566  Super Kings Vs Titans  Super Kings           DeepakChahar
2432  T201566  Super Kings Vs Titans  Super Kings        TusharDeshpande
2433  T201566  Super Kings Vs Titans  Super Kings  RajvardhanHangargekar
2434  T201566  Super Kings Vs Titans  Super Kings        MitchellSantner
2435  T201566  Super Kings Vs Titans  Super Kings         RavindraJadeja

      overs  maiden  runs  wickets  economy  0s  4s  6s  wides  noBalls
0       3.0       0    33        0    11.00   6   2   3      0        0
1       4.0       0    32        1     8.00   8   1   2      0        0
2       4.0       0    56        0    14.00   4   7   2      2        0
3       4.0       0    38        0     9.50   5   2   2      0        1
4       4.0       0    26        2     6.50   6   0   1      1        0
...     ...     ...   ...      ...      ...  ..  ..  ..    ...      ...
2431    4.0       0    29        0     7.25   9   1   2      0        0
2432    3.2       0    51        1    15.30   5   4   4      1        1
2433    4.0       0    36        3     9.00  10   4   1      3        1
2434    4.0       0    32        0     8.00   7   5   0      0        0
2435    4.0       0    28        1     7.00   9   1   1      0        0

[2436 rows x 14 columns]>
  match_id               match bowlingTeam         bowlerName  overs  maiden  \
0  T203817  Super Kings Vs KKR         KKR      ShakibAlHasan    3.0       0
1  T203817  Super Kings Vs KKR         KKR         ShivamMavi    4.0       0
2  T203817  Super Kings Vs KKR         KKR     LockieFerguson    4.0       0
3  T203817  Super Kings Vs KKR         KKR  VarunChakravarthy    4.0       0
4  T203817  Super Kings Vs KKR         KKR        SunilNarine    4.0       0

   runs  wickets  economy  0s  4s  6s  wides  noBalls
0    33        0     11.0   6   2   3      0        0
1    32        1      8.0   8   1   2      0        0
2    56        0     14.0   4   7   2      2        0
3    38        0      9.5   5   2   2      0        1
4    26        2      6.5   6   0   1      1        0

,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
count,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000,2436.000000
mean,3.259401,0.024631,27.556650,0.968801,8.750899,7.318144,2.340722,1.174466,0.730706,0.101396
std,1.017162,0.157655,11.204963,1.050985,3.318778,3.764987,1.678368,1.168873,1.035974,0.345077
min,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,20.000000,0.000000,6.500000,4.000000,1.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,27.000000,1.000000,8.250000,7.000000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,0.000000,35.000000,2.000000,10.500000,10.000000,3.000000,2.000000,1.000000,0.000000
max,4.000000,2.000000,69.000000,5.000000,36.000000,19.000000,11.000000,8.000000,7.000000,3.000000

In [64]:
matches.drop_duplicates()

            team1        team2        winner     margin     matchDate match_id
0     Super Kings          KKR   Super Kings    27 runs  Oct 15, 2021  T203817
1        Capitals          KKR           KKR  3 wickets  Oct 13, 2021  T206442
2             RCB          KKR           KKR  4 wickets  Oct 11, 2021  T208597
3        Capitals  Super Kings   Super Kings  4 wickets  Oct 10, 2021  T201819
4        Capitals          RCB           RCB  7 wickets   Oct 8, 2021  T205942
..            ...          ...           ...        ...           ...      ...
201        Mumbai          RCB           RCB  8 wickets   Apr 2, 2023  T202485
202        Royals    Sunrisers        Royals    72 runs   Apr 2, 2023  T209117
203  Super Giants     Capitals  Super Giants    50 runs   Apr 1, 2023  T208512
204  Punjab Kings          KKR  Punjab Kings     7 runs   Apr 1, 2023  T202853
205   Super Kings       Titans        Titans  5 wickets  Mar 31, 2023  T201566

[206 rows x 6 columns]