In [78]:
!pip install pandas

Requirement already satisfied: pandas in d:\coursework\assignments\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in d:\coursework\assignments\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\coursework\assignments\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\coursework\assignments\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\coursework\assignments\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\coursework\assignments\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [79]:
import pandas as pd

In [80]:
#1.

Series1 = pd.Series([100, 200, 300, 400, 500], index=['A', 'B', 'C', 'D', 'E'])
Series2 = Series1 * 2
print(Series1)
print(Series2)

A    100
B    200
C    300
D    400
E    500
dtype: int64
A     200
B     400
C     600
D     800
E    1000
dtype: int64

#2 State whether True or False

a. A series object is size mutable.

   False, Series object is not size mutable it is immutable.

b. A Dataframe object is value mutable

   True, DataFrame object is size mutable.

In [81]:
#3

Series1 = pd.Series(700,index=[200, 201, 202, 203, 204])

print("Series1:")
print(Series1)

Series1:
200    700
201    700
202    700
203    700
204    700
dtype: int64

In [82]:
#4

s = pd.Series([95, 89, 92, 95], index=['IP', 'Physics', 'Chemistry', 'Math'])

print(s)
# i. Display only IP
print("\n\nMarks in IP:", s['IP'])

# ii. Increase marks of all subjects by 10
s = s + 10
print("\nAfter adding 10 marks:\n", s)

IP           95
Physics      89
Chemistry    92
Math         95
dtype: int64


Marks in IP: 95

After adding 10 marks:
 IP           105
Physics       99
Chemistry    102
Math         105
dtype: int64

In [83]:
#5

SQTR=pd.Series([50000,65890,56780,89000,77900],index=['QTR1','QTR2','QTR3','QTR4','QTR5'])
print(SQTR)

QTR1    50000
QTR2    65890
QTR3    56780
QTR4    89000
QTR5    77900
dtype: int64

#6

S1=pd.Series(data=[31,41,51])
print(S1>40)------------------------>FALSE,TRUE,TRUE
print(S1[S1>40])-------------------->41,51

In [84]:
#7

S1=pd.Series([39,41,42,44],index=['A','B','C','D'])
S2=pd.Series([10,10,10,10],index=['A','B','C','D'])
SER1=S1[:2]*100
print(SER1)
SER2=S1*S2
print(SER2)
SER3=S2[::-1]*10
print(SER3)

A    3900
B    4100
dtype: int64
A    390
B    410
C    420
D    440
dtype: int64
D    100
C    100
B    100
A    100
dtype: int64

In [85]:
#8

S1 = pd.Series([10,20,30,40],index=['A','B','C','D'])
S2 = pd.Series([5,4,6,8],index=['A','B','C','D'])
print(S1*S2)

A     50
B     80
C    180
D    320
dtype: int64

In [86]:
#9

S1=pd.Series([75,78,82,86],index=['ENGLISH','HINDI','MATHS','SCIENCE'])
S1

ENGLISH    75
HINDI      78
MATHS      82
SCIENCE    86
dtype: int64

In [87]:
#10

S1=pd.Series([350,200,800,150],index=['TCS','REALIANCE','L&T','WIPRO'])
print(S1[S1>250])
S1.name='PROFIT'
print(S1.name)

TCS    350
L&T    800
dtype: int64
PROFIT

In [88]:
#11

a=[10,20,25,50]
b=pd.Series(a)
print(a*2)#printing twice 
print(b*2)#multipying

[10, 20, 25, 50, 10, 20, 25, 50]
0     20
1     40
2     50
3    100
dtype: int64

#12

Given a Pandas series called Sample, the
command which will display the last 3 rows
is.

a. print(Sample.tail(3)) #CORRECT 

b. print(Sample.Tail(3))

c. print(Sample.tails(3)) 

d. print(Sample.Tails(3))

In [89]:
#13

import pandas as pd
s = pd.Series(6,index=range(0,5))
print(s)

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [90]:
#14

s1 = pd.Series(
    [6, 1, 3, 5, 4, 8, 7, 4, 6, 7],
    index=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
)

print("Original Series:\n", s1)

print("\nResult of s1[3:6]:\n", s1[3:6])

Original Series:
 1     6
3     1
5     3
7     5
9     4
11    8
13    7
15    4
17    6
19    7
dtype: int64

Result of s1[3:6]:
 7     5
9     4
11    8
dtype: int64

In [91]:
#15

import pandas as pd
import numpy as np
s = pd.Series(np.arange(10,50,10))
print(s)
print (s.ndim)
print(s.shape)
print(len(s))

0    10
1    20
2    30
3    40
dtype: int64
1
(4,)
4

In [92]:
#16

R=np.random.randint(10,20,size=10)
S=pd.Series(R)
S

0    17
1    16
2    16
3    18
4    19
5    19
6    19
7    10
8    14
9    17
dtype: int32

In [93]:
#17

s=pd.Series([4.0,5.0,7.0,np.nan,1.0,10.0])
s+=1
print(s)
s=s.fillna(0)
s

0     5.0
1     6.0
2     8.0
3     NaN
4     2.0
5    11.0
dtype: float64

0     5.0
1     6.0
2     8.0
3     0.0
4     2.0
5    11.0
dtype: float64

In [94]:
#18

import pandas as pd
import numpy as np
data = {'one':'a','two':'b','three':'c'}
s=pd.Series(data)
print(s)
print(s.size)

one      a
two      b
three    c
dtype: object
3

In [95]:
#19

s=pd.Series(np.arange(2,9,2))
s

0    2
1    4
2    6
3    8
dtype: int64

In [96]:
#20

s2=pd.Series(["i","am", "a","student"])
print(s2)

0          i
1         am
2          a
3    student
dtype: object

In [97]:
#21

s1=pd.Series(200,index=range(2,13,2))
print(s1)

2     200
4     200
6     200
8     200
10    200
12    200
dtype: int64

In [98]:
#22

s1=pd.Series(range(2,11,2), index=[x for x in"abcde"])
print(s1)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [99]:
#23
x=np.arange(10,15)
s3=pd.Series(index=x, data=x*2)
s4=pd.Series(x**2,x)
print(s3)
print(s4)

10    20
11    22
12    24
13    26
14    28
dtype: int64
10    100
11    121
12    144
13    169
14    196
dtype: int64

In [100]:
#24

con=pd.Series([8900,8700,7800,6500,np.nan],index=['A','B','C','D','E'])
con=con.fillna(0)
con=con*2
con

A    17800.0
B    17400.0
C    15600.0
D    13000.0
E        0.0
dtype: float64

In [101]:
#25

val1=np.arange(5.25,50,10.25)
ser1=pd.Series(val1,index=['a','b','a','a','b'])
print(ser1)
print(ser1['a'])
print(ser1['b'])

a     5.25
b    15.50
a    25.75
a    36.00
b    46.25
dtype: float64
a     5.25
a    25.75
a    36.00
dtype: float64
b    15.50
b    46.25
dtype: float64

In [102]:
#26

s10=pd.Series([39,31,32,34,35],index=['A','B','C','D','E'])
print(s10)
sA=s10['A']*100
print(sA)
sB=s10['B']*100
print(sB)
tot=sA + sB
print(tot)

A    39
B    31
C    32
D    34
E    35
dtype: int64
3900
3100
7000

In [103]:
#27

S4 =pd.Series([2.50, 17.45, 20.25, 87.25, 33.76])
S4[0]=1.75
S4[2:4]= -23.74
print(S4)

0     1.75
1    17.45
2   -23.74
3   -23.74
4    33.76
dtype: float64

In [104]:
#28

s1=pd.Series([2,3,4,5,6],index=['a','b','c','d','e'])
s1[1:5:2]=345.6
print(s1)
s1[2:4]= -14.65
print(s1)

a      2.0
b    345.6
c      4.0
d    345.6
e      6.0
dtype: float64
a      2.00
b    345.60
c    -14.65
d    -14.65
e      6.00
dtype: float64

C:\Users\Sravanthi\AppData\Local\Temp\ipykernel_26060\580383414.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '345.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s1[1:5:2]=345.6

In [105]:
#29

s12=pd.Series([6700,8000,5400,3400],index=['A','B','C','D'])
s12['A']=8800
s12['C'] = 7700
s12['D'] = 7700

s12

A    8800
B    8000
C    7700
D    7700
dtype: int64

#30

Considering Series object S then,

s.head(100) for first 100

s.tail() for last 5 as by default .tail() calls 5

In [ ]:
#31

s3=pd.Series([1.5,3.0,4.5,6.0,7.5],index=['a','b','c','d','e'])
print(s3+3)
print(s3*2)
print(s3>3.0)
print(s3[s3>3.0])

a     4.5
b     6.0
c     7.5
d     9.0
e    10.5
dtype: float64
a     3.0
b     6.0
c     9.0
d    12.0
e    15.0
dtype: float64
a    False
b    False
c     True
d     True
e     True
dtype: bool
c    4.5
d    6.0
e    7.5
dtype: float64

In [109]:
#32

s12=pd.Series([6700,8000,5400,3400])
s12

0    6700
1    8000
2    5400
3    3400
dtype: int64

In [112]:
#33

sec=pd.Series([6700,8000,5400,3400],index=['A','B','C','D'])
print(sec[sec>5600])

A    6700
B    8000
dtype: int64

In [114]:
#34

S1 = pd.Series([0, 10, 20, 30, 40], index=[1, 2, 3, 4, 5])
print(S1)
# Series S2
S2 = pd.Series([0, 1, 2, 3, 4, 5, 6])
print(S2)
# Series S3
S3 = pd.Series([5, 10, 15, 20, 25], index=['a', 'b', 'c', 'd', 'e'])
print(S3)
print(S1+S2)
print(S1*S3)
print(S1-S2)

1     0
2    10
3    20
4    30
5    40
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int64
a     5
b    10
c    15
d    20
e    25
dtype: int64
0     NaN
1     1.0
2    12.0
3    23.0
4    34.0
5    45.0
6     NaN
dtype: float64
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64
0     NaN
1    -1.0
2     8.0
3    17.0
4    26.0
5    35.0
6     NaN
dtype: float64

In [121]:
#35

s12=pd.Series([6700,8000,5400,3400],index=['D','A','B','C'])
print(sorted(s12,reverse=True))
print(s12.sort_index())

[8000, 6700, 5400, 3400]
A    8000
B    5400
C    3400
D    6700
dtype: int64

In [124]:
#36

s13=pd.Series([6700,8000,5400,3400],index=['A','B','C','D'])

# s13.index=range(0,5)
s13.index=range(0,4)
#ZERO IS COUNTED IN RANGE 0,1,2,3,4 ARE 5 NUMBERS

print(s13)

0    6700
1    8000
2    5400
3    3400
dtype: int64

In [125]:
#37

import pandas as pd
first=[7,8,9]
second=pd.Series(first)
s1=pd.Series(data=first*2)
s2=pd.Series(data=second*2)
print("Series1:")
print(s1)
print("Series2:")
print(s2)

Series1:
0    7
1    8
2    9
3    7
4    8
5    9
dtype: int64
Series2:
0    14
1    16
2    18
dtype: int64

In [127]:
#38

data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
s=pd.Series(data)
print(s[:4])
print(s[-4:])

0    Mon
1    Tue
2    Wed
3    Thu
dtype: object
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [128]:
#39

data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
s=pd.Series(data, index=[101,102,103,104,105,
106,107])
print(s[[103,105,107]])

103    Wed
105    Fri
107    Sun
dtype: object

In [129]:
#40

D={'a':10,'b':11,'c':12}
S=pd.Series(D,index=['b','c','d','a'])
print(S)

b    11.0
c    12.0
d     NaN
a    10.0
dtype: float64