In [98]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sravanthi\appdata\local\programs\python\python313\lib\site-packages (9.4.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [99]:
import mysql.connector

In [125]:
conn=mysql.connector.connect(
    host="localhost",
    user="root",
    password="177013vV$"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227C0DF4410>

In [126]:
cursor=conn.cursor()
#Create a function in Python to create the tables (students, courses, enrollments) in school_db.
# cursor.execute("CREATE DATABASE school_db")
cursor.execute("USE school_db")
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    grade VARCHAR(10)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(100),
    instructor VARCHAR(100)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS enrollments (
    enroll_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    course_id INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
)
""")

print("Tables created successfully.")

Tables created successfully.

In [102]:
#1.  Write a Python program to connect to MySQL and print the list of all available databases.

cursor.execute("SHOW DATABASES")

print("Available Databases:")
for db in cursor:
    print(db[0])

Available Databases:
games_db
information_schema
mysql
performance_schema
sakila
school_db
sys
world

In [103]:
import pandas as pd
students_df = pd.read_csv("./students.csv")
courses_df = pd.read_csv("./courses.csv")
enrollments_df=pd.read_csv("./enrollments.csv")

In [104]:
#3. Write a Python program to insert multiple students and courses into the respective tables using executemany().


student_sql = "INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)"
students = list(students_df[['name', 'age', 'grade']].itertuples(index=False, name=None))
cursor.executemany(student_sql, students)
print(cursor.rowcount, "students inserted.")

course_sql = "INSERT INTO courses (course_name, instructor) VALUES (%s, %s)"
courses = list(courses_df[['course_name', 'instructor']].itertuples(index=False, name=None))
cursor.executemany(course_sql, courses)
print(cursor.rowcount, "courses inserted.")

100 students inserted.
10 courses inserted.

In [105]:
#4.  Fetch and print all rows from the students table in a tabular format.

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

# get column names
columns = [desc[0] for desc in cursor.description]

# create DataFrame for nice tabular output
df = pd.DataFrame(rows, columns=columns)

print("Students Table:")
print(df.to_string(index=False))

Students Table:
 student_id       name  age grade                   email
          1    Alice17   20     A       alice@example.com
          2       Uma2   23     A     uma2108@example.com
          3     Wendy3   22     B   wendy3329@example.com
          4    Xander4   22     A  xander4870@example.com
          5    Victor5   19     A  victor5418@example.com
          6       Ian6   19     D     ian6677@example.com
          7       Leo7   22     B     leo7695@example.com
          8      Paul8   24     B    paul8840@example.com
          9     Wendy9   23     B   wendy9128@example.com
         10      Leo10   23     A    leo10128@example.com
         11      Uma11   18     C    uma11735@example.com
         12     Rita12   18     B   rita12459@example.com
         13     Yara13   22     B   yara13123@example.com
         14      Bob14   19     C    bob14245@example.com
         15   Quincy15   24     A  quincy1558@example.com
         16     Tina16   19     A   tina16919@example.com
         17    Alice17   25     B  alice17910@example.com
         18      Sam18   20     B    sam18729@example.com
         19     Paul19   23     A   paul19174@example.com
         20   Victor20   19     D victor20247@example.com
         21    Frank21   23     A  frank21293@example.com
         22   Victor22   18     A victor22985@example.com
         23    Karen23   25     A  karen23725@example.com
         24    Grace24   24     D  grace24602@example.com
         25   Quincy25   25     A quincy25625@example.com
         26     Mona26   20     D   mona26928@example.com
         27      Uma27   22     B    uma27444@example.com
         28     Nina28   23     B   nina28517@example.com
         29      Ian29   23     B    ian29894@example.com
         30     Tina30   23     A   tina30163@example.com
         31     Nina31   22     B   nina31287@example.com
         32   Hannah32   21     A hannah32671@example.com
         33    David33   25     D  david33782@example.com
         34    Wendy34   22     B  wendy34292@example.com
         35    Frank35   25     C  frank35905@example.com
         36     Paul36   22     D   paul36265@example.com
         37      Ian37   21     D    ian37538@example.com
         38     Paul38   20     C   paul38760@example.com
         39   Hannah39   18     A hannah39546@example.com
         40     Zane40   21     A   zane40978@example.com
         41      Ian41   24     D    ian41896@example.com
         42   Quincy42   24     C  quincy4211@example.com
         43   Quincy43   25     D quincy43802@example.com
         44     Tina44   19     C   tina44207@example.com
         45   Xander45   23     C xander45553@example.com
         46     Zane46   25     C   zane46148@example.com
         47      Eva47   19     D    eva47882@example.com
         48      Leo48   22     B    leo48530@example.com
         49      Uma49   25     A    uma49820@example.com
         50      Bob50   22     D    bob50188@example.com
         51    Karen51   18     A  karen51255@example.com
         52   Hannah52   23     A hannah52516@example.com
         53      Bob53   21     C    bob53866@example.com
         54      Leo54   18     C    leo54734@example.com
         55     Yara55   22     A   yara55797@example.com
         56      Eva56   19     C    eva56673@example.com
         57     Nina57   21     B   nina57278@example.com
         58      Eva58   20     A    eva58234@example.com
         59    Oscar59   21     B  oscar59527@example.com
         60     Yara60   18     B   yara60349@example.com
         61    Oscar61   23     D  oscar61703@example.com
         62     Rita62   23     C   rita62412@example.com
         63   Victor63   20     D victor63308@example.com
         64   Xander64   19     D xander64531@example.com
         65   Hannah65   22     D  hannah6532@example.com
         66     Nina66   25     D   nina66880@example.com
         67   Victor67   18     A victor67307@example.com
         68    Karen68   18     A  karen68891@example.com
         69    Grace69   18     D  grace69797@example.com
         70     Jack70   24     A   jack70969@example.com
         71     Nina71   23     B   nina71732@example.com
         72      Ian72   22     D    ian72111@example.com
         73    Grace73   19     A  grace73724@example.com
         74    Grace74   24     C  grace74303@example.com
         75   Quincy75   23     D  quincy7529@example.com
         76    Oscar76   19     D  oscar76204@example.com
         77    Grace77   22     D  grace77348@example.com
         78      Ian78   22     D    ian78864@example.com
         79   Xander79   24     C xander79753@example.com
         80     Tina80   22     D   tina80761@example.com
         81    Wendy81   20     A  wendy81721@example.com
         82    Karen82   23     B  karen82516@example.com
         83      Leo83   18     C    leo83352@example.com
         84      Bob84   18     A    bob84563@example.com
         85     Rita85   18     A   rita85695@example.com
         86    Alice86   21     B  alice86610@example.com
         87      Sam87   19     C    sam87892@example.com
         88    Wendy88   23     A  wendy88465@example.com
         89     Tina89   21     C   tina89426@example.com
         90     Zane90   25     D   zane90912@example.com
         91     Tina91   21     D    tina9163@example.com
         92    Wendy92   19     C  wendy92814@example.com
         93   Quincy93   19     A quincy93283@example.com
         94      Eva94   24     C    eva94127@example.com
         95     Tina95   25     D   tina95339@example.com
         96      Ian96   25     C     ian9694@example.com
         97     Mona97   22     C   mona97379@example.com
         98      Leo98   25     A    leo98627@example.com
         99      Bob99   23     C    bob99246@example.com
        100    Paul100   19     B  paul100279@example.com
        101      Zane1   18     C                    None
        102       Uma2   23     A                    None
        103     Wendy3   22     B                    None
        104    Xander4   22     A                    None
        105    Victor5   19     A                    None
        106       Ian6   19     D                    None
        107       Leo7   22     A                    None
        108      Paul8   24     B                    None
        109     Wendy9   23     B                    None
        110      Leo10   23     A                    None
        111      Uma11   18     C                    None
        112     Rita12   18     B                    None
        113     Yara13   22     B                    None
        114      Bob14   19     C                    None
        115   Quincy15   24     A                    None
        116     Tina16   19     A                    None
        117    Alice17   25     B                    None
        118      Sam18   20     B                    None
        119     Paul19   23     A                    None
        120   Victor20   19     D                    None
        121    Frank21   23     A                    None
        122   Victor22   18     A                    None
        123    Karen23   25     A                    None
        124    Grace24   24     D                    None
        125   Quincy25   25     A                    None
        126     Mona26   20     D                    None
        127      Uma27   22     B                    None
        128     Nina28   23     B                    None
        129      Ian29   23     B                    None
        130     Tina30   23     A                    None
        131     Nina31   22     B                    None
        132   Hannah32   21     A                    None
        133    David33   25     D                    None
        134    Wendy34   22     B                    None
        135    Frank35   25     C                    None
        136     Paul36   22     D                    None
        137      Ian37   21     D                    None
        138     Paul38   20     C                    None
        139   Hannah39   18     A                    None
        140     Zane40   21     A                    None
        141      Ian41   24     D                    None
        142   Quincy42   24     C                    None
        143   Quincy43   25     D                    None
        144     Tina44   19     C                    None
        145   Xander45   23     C                    None
        146     Zane46   25     C                    None
        147      Eva47   19     D                    None
        148      Leo48   22     B                    None
        149      Uma49   25     A                    None
        150      Bob50   22     D                    None
        151    Karen51   18     A                    None
        152   Hannah52   23     A                    None
        153      Bob53   21     C                    None
        154      Leo54   18     C                    None
        155     Yara55   22     A                    None
        156      Eva56   19     C                    None
        157     Nina57   21     B                    None
        158      Eva58   20     A                    None
        159    Oscar59   21     B                    None
        160     Yara60   18     B                    None
        161    Oscar61   23     D                    None
        162     Rita62   23     C                    None
        163   Victor63   20     D                    None
        164   Xander64   19     D                    None
        165   Hannah65   22     D                    None
        166     Nina66   25     D                    None
        167   Victor67   18     A                    None
        168    Karen68   18     A                    None
        169    Grace69   18     D                    None
        170     Jack70   24     A                    None
        171     Nina71   23     B                    None
        172      Ian72   22     D                    None
        173    Grace73   19     A                    None
        174    Grace74   24     C                    None
        175   Quincy75   23     D                    None
        176    Oscar76   19     D                    None
        177    Grace77   22     D                    None
        178      Ian78   22     D                    None
        179   Xander79   24     C                    None
        180     Tina80   22     D                    None
        181    Wendy81   20     A                    None
        182    Karen82   23     B                    None
        183      Leo83   18     C                    None
        184      Bob84   18     A                    None
        185     Rita85   18     A                    None
        186    Alice86   21     B                    None
        187      Sam87   19     C                    None
        188    Wendy88   23     A                    None
        189     Tina89   21     C                    None
        190     Zane90   25     D                    None
        191     Tina91   21     D                    None
        192    Wendy92   19     C                    None
        193   Quincy93   19     A                    None
        194      Eva94   24     C                    None
        195     Tina95   25     D                    None
        196      Ian96   25     C                    None
        197     Mona97   22     C                    None
        198      Leo98   25     A                    None
        199      Bob99   23     C                    None
        200    Paul100   19     B                    None
        201      Zane1   18     C                    None
        202       Uma2   23     A                    None
        203     Wendy3   22     B                    None
        204    Xander4   22     A                    None
        205    Victor5   19     A                    None
        206       Ian6   19     D                    None
        207       Leo7   22     A                    None
        208      Paul8   24     B                    None
        209     Wendy9   23     B                    None
        210      Leo10   23     A                    None
        211      Uma11   18     C                    None
        212     Rita12   18     B                    None
        213     Yara13   22     B                    None
        214      Bob14   19     C                    None
        215   Quincy15   24     A                    None
        216     Tina16   19     A                    None
        217    Alice17   25     B                    None
        218      Sam18   20     B                    None
        219     Paul19   23     A                    None
        220   Victor20   19     D                    None
        221    Frank21   23     A                    None
        222   Victor22   18     A                    None
        223    Karen23   25     A                    None
        224    Grace24   24     D                    None
        225   Quincy25   25     A                    None
        226     Mona26   20     D                    None
        227      Uma27   22     B                    None
        228     Nina28   23     B                    None
        229      Ian29   23     B                    None
        230     Tina30   23     A                    None
        231     Nina31   22     B                    None
        232   Hannah32   21     A                    None
        233    David33   25     D                    None
        234    Wendy34   22     B                    None
        235    Frank35   25     C                    None
        236     Paul36   22     D                    None
        237      Ian37   21     D                    None
        238     Paul38   20     C                    None
        239   Hannah39   18     A                    None
        240     Zane40   21     A                    None
        241      Ian41   24     D                    None
        242   Quincy42   24     C                    None
        243   Quincy43   25     D                    None
        244     Tina44   19     C                    None
        245   Xander45   23     C                    None
        246     Zane46   25     C                    None
        247      Eva47   19     D                    None
        248      Leo48   22     B                    None
        249      Uma49   25     A                    None
        250      Bob50   22     D                    None
        251    Karen51   18     A                    None
        252   Hannah52   23     A                    None
        253      Bob53   21     C                    None
        254      Leo54   18     C                    None
        255     Yara55   22     A                    None
        256      Eva56   19     C                    None
        257     Nina57   21     B                    None
        258      Eva58   20     A                    None
        259    Oscar59   21     B                    None
        260     Yara60   18     B                    None
        261    Oscar61   23     D                    None
        262     Rita62   23     C                    None
        263   Victor63   20     D                    None
        264   Xander64   19     D                    None
        265   Hannah65   22     D                    None
        266     Nina66   25     D                    None
        267   Victor67   18     A                    None
        268    Karen68   18     A                    None
        269    Grace69   18     D                    None
        270     Jack70   24     A                    None
        271     Nina71   23     B                    None
        272      Ian72   22     D                    None
        273    Grace73   19     A                    None
        274    Grace74   24     C                    None
        275   Quincy75   23     D                    None
        276    Oscar76   19     D                    None
        277    Grace77   22     D                    None
        278      Ian78   22     D                    None
        279   Xander79   24     C                    None
        280     Tina80   22     D                    None
        281    Wendy81   20     A                    None
        282    Karen82   23     B                    None
        283      Leo83   18     C                    None
        284      Bob84   18     A                    None
        285     Rita85   18     A                    None
        286    Alice86   21     B                    None
        287      Sam87   19     C                    None
        288    Wendy88   23     A                    None
        289     Tina89   21     C                    None
        290     Zane90   25     D                    None
        291     Tina91   21     D                    None
        292    Wendy92   19     C                    None
        293   Quincy93   19     A                    None
        294      Eva94   24     C                    None
        295     Tina95   25     D                    None
        296      Ian96   25     C                    None
        297     Mona97   22     C                    None
        298      Leo98   25     A                    None
        299      Bob99   23     C                    None
        300    Paul100   19     B                    None
        302      Zane1   18     C                    None
        303       Uma2   23     A                    None
        304     Wendy3   22     B                    None
        305    Xander4   22     A                    None
        306    Victor5   19     A                    None
        307       Ian6   19     D                    None
        308       Leo7   22     A                    None
        309      Paul8   24     B                    None
        310     Wendy9   23     B                    None
        311      Leo10   23     A                    None
        312      Uma11   18     C                    None
        313     Rita12   18     B                    None
        314     Yara13   22     B                    None
        315      Bob14   19     C                    None
        316   Quincy15   24     A                    None
        317     Tina16   19     A                    None
        318    Alice17   25     B                    None
        319      Sam18   20     B                    None
        320     Paul19   23     A                    None
        321   Victor20   19     D                    None
        322    Frank21   23     A                    None
        323   Victor22   18     A                    None
        324    Karen23   25     A                    None
        325    Grace24   24     D                    None
        326   Quincy25   25     A                    None
        327     Mona26   20     D                    None
        328      Uma27   22     B                    None
        329     Nina28   23     B                    None
        330      Ian29   23     B                    None
        331     Tina30   23     A                    None
        332     Nina31   22     B                    None
        333   Hannah32   21     A                    None
        334    David33   25     D                    None
        335    Wendy34   22     B                    None
        336    Frank35   25     C                    None
        337     Paul36   22     D                    None
        338      Ian37   21     D                    None
        339     Paul38   20     C                    None
        340   Hannah39   18     A                    None
        341     Zane40   21     A                    None
        342      Ian41   24     D                    None
        343   Quincy42   24     C                    None
        344   Quincy43   25     D                    None

In [106]:
#5.  Write a program to update the grade of a student (given student_id) via a Python input prompt.

sid = input("Student ID: ")
grade = input("New Grade: ")

cursor.execute("UPDATE students SET grade=%s WHERE student_id=%s", (grade, sid))

print("Updated." if cursor.rowcount else "Student not found.")

Updated.

In [107]:
#6.  Delete a student from the students table using Python input for student_id.

sid = input("Enter Student ID to delete: ")

cursor.execute("DELETE FROM students WHERE student_id=%s", (sid,))

print("Deleted." if cursor.rowcount else "Student not found.")

IntegrityError: 1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails (`school_db`.`enrollments`, CONSTRAINT `enrollments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`student_id`))

In [108]:
#7.  Write a Python script to insert enrollment records linking students with their courses, ensuring foreign key integrity.

enrollments_df['student_id'] = enrollments_df['student_id'].astype(int)
enrollments_df['course_id'] = enrollments_df['course_id'].astype(int)

# fetch valid student_ids and course_ids
cursor.execute("SELECT student_id FROM students")
valid_students = {row[0] for row in cursor.fetchall()}

cursor.execute("SELECT course_id FROM courses")
valid_courses = {row[0] for row in cursor.fetchall()}

# filter only valid enrollments
valid_enrollments = [
    (row.student_id, row.course_id)
    for row in enrollments_df.itertuples(index=False)
    if row.student_id in valid_students and row.course_id in valid_courses
]

invalid_enrollments = [
    (row.student_id, row.course_id)
    for row in enrollments_df.itertuples(index=False)
    if row.student_id not in valid_students or row.course_id not in valid_courses
]

print(f"{len(valid_enrollments)} valid enrollments to insert.")
print(f"{len(invalid_enrollments)} invalid enrollments skipped:", invalid_enrollments[:10])

# insert valid enrollments
if valid_enrollments:
    sql = "INSERT INTO enrollments (student_id, course_id) VALUES (%s, %s)"
    cursor.executemany(sql, valid_enrollments)
    conn.commit()
    print("Inserted successfully.")

199 valid enrollments to insert.
0 invalid enrollments skipped: []
Inserted successfully.

In [109]:
#debug check
cursor.execute("SELECT * FROM enrollments")
print(cursor.fetchall())

[(200, 2, 6), (201, 3, 8), (202, 4, 10), (203, 5, 10), (204, 5, 3), (205, 5, 6), (206, 6, 7), (207, 6, 4), (208, 6, 5), (209, 7, 1), (210, 8, 9), (211, 9, 9), (212, 10, 7), (213, 10, 3), (214, 10, 1), (215, 11, 3), (216, 11, 6), (217, 11, 8), (218, 12, 10), (219, 13, 2), (220, 13, 9), (221, 13, 10), (222, 14, 3), (223, 14, 1), (224, 15, 8), (225, 15, 5), (226, 15, 2), (227, 16, 6), (228, 16, 4), (229, 16, 1), (230, 17, 6), (231, 17, 1), (232, 17, 7), (233, 18, 3), (234, 19, 9), (235, 19, 1), (236, 20, 8), (237, 20, 4), (238, 20, 10), (239, 21, 7), (240, 21, 6), (241, 22, 3), (242, 22, 10), (243, 22, 9), (244, 23, 5), (245, 24, 7), (246, 24, 8), (247, 25, 9), (248, 26, 9), (249, 26, 8), (250, 26, 1), (251, 27, 6), (252, 28, 3), (253, 28, 1), (254, 29, 5), (255, 29, 3), (256, 30, 3), (257, 30, 6), (258, 30, 1), (259, 31, 4), (260, 31, 9), (261, 31, 3), (262, 32, 4), (263, 32, 9), (264, 33, 5), (265, 33, 4), (266, 34, 3), (267, 34, 8), (268, 35, 7), (269, 36, 6), (270, 36, 4), (271, 37, 2), (272, 37, 6), (273, 38, 4), (274, 39, 6), (275, 40, 4), (276, 41, 10), (277, 41, 3), (278, 42, 10), (279, 42, 5), (280, 42, 7), (281, 43, 2), (282, 44, 9), (283, 45, 6), (284, 45, 5), (285, 45, 10), (286, 46, 1), (287, 46, 10), (288, 46, 5), (289, 47, 2), (290, 48, 1), (291, 48, 4), (292, 48, 10), (293, 49, 4), (294, 49, 7), (295, 50, 7), (296, 51, 7), (297, 51, 8), (298, 51, 4), (299, 52, 2), (300, 52, 3), (301, 53, 2), (302, 53, 5), (303, 53, 4), (304, 54, 3), (305, 54, 9), (306, 54, 5), (307, 55, 6), (308, 55, 10), (309, 55, 9), (310, 56, 6), (311, 57, 2), (312, 57, 7), (313, 57, 5), (314, 58, 1), (315, 59, 9), (316, 59, 8), (317, 59, 10), (318, 60, 2), (319, 60, 4), (320, 61, 1), (321, 62, 1), (322, 63, 5), (323, 64, 3), (324, 64, 9), (325, 64, 4), (326, 65, 3), (327, 66, 3), (328, 66, 4), (329, 66, 6), (330, 67, 7), (331, 68, 3), (332, 69, 6), (333, 69, 8), (334, 69, 3), (335, 70, 7), (336, 70, 10), (337, 71, 5), (338, 71, 1), (339, 72, 3), (340, 72, 7), (341, 72, 9), (342, 73, 7), (343, 73, 10), (344, 74, 6), (345, 74, 1), (346, 74, 7), (347, 75, 2), (348, 75, 5), (349, 76, 7), (350, 76, 8), (351, 76, 9), (352, 77, 4), (353, 77, 6), (354, 77, 1), (355, 78, 2), (356, 78, 9), (357, 78, 10), (358, 79, 3), (359, 79, 5), (360, 80, 5), (361, 81, 1), (362, 81, 5), (363, 81, 6), (364, 82, 3), (365, 83, 9), (366, 83, 3), (367, 83, 2), (368, 84, 5), (369, 84, 3), (370, 85, 7), (371, 86, 3), (372, 87, 10), (373, 87, 9), (374, 87, 8), (375, 88, 5), (376, 89, 1), (377, 90, 2), (378, 91, 4), (379, 91, 1), (380, 91, 2), (381, 92, 7), (382, 92, 1), (383, 92, 8), (384, 93, 7), (385, 93, 3), (386, 94, 6), (387, 94, 10), (388, 95, 3), (389, 96, 9), (390, 96, 5), (391, 96, 2), (392, 97, 5), (393, 98, 9), (394, 98, 3), (395, 99, 7), (396, 99, 2), (397, 100, 9), (597, 2, 6), (598, 3, 8), (599, 4, 10), (600, 5, 10), (601, 5, 3), (602, 5, 6), (603, 6, 7), (604, 6, 4), (605, 6, 5), (606, 7, 1), (607, 8, 9), (608, 9, 9), (609, 10, 7), (610, 10, 3), (611, 10, 1), (612, 11, 3), (613, 11, 6), (614, 11, 8), (615, 12, 10), (616, 13, 2), (617, 13, 9), (618, 13, 10), (619, 14, 3), (620, 14, 1), (621, 15, 8), (622, 15, 5), (623, 15, 2), (624, 16, 6), (625, 16, 4), (626, 16, 1), (627, 17, 6), (628, 17, 1), (629, 17, 7), (630, 18, 3), (631, 19, 9), (632, 19, 1), (633, 20, 8), (634, 20, 4), (635, 20, 10), (636, 21, 7), (637, 21, 6), (638, 22, 3), (639, 22, 10), (640, 22, 9), (641, 23, 5), (642, 24, 7), (643, 24, 8), (644, 25, 9), (645, 26, 9), (646, 26, 8), (647, 26, 1), (648, 27, 6), (649, 28, 3), (650, 28, 1), (651, 29, 5), (652, 29, 3), (653, 30, 3), (654, 30, 6), (655, 30, 1), (656, 31, 4), (657, 31, 9), (658, 31, 3), (659, 32, 4), (660, 32, 9), (661, 33, 5), (662, 33, 4), (663, 34, 3), (664, 34, 8), (665, 35, 7), (666, 36, 6), (667, 36, 4), (668, 37, 2), (669, 37, 6), (670, 38, 4), (671, 39, 6), (672, 40, 4), (673, 41, 10), (674, 41, 3), (675, 42, 10), (676, 42, 5), (677, 42, 7), (678, 43, 2), (679, 44, 9), (680, 45, 6), (681, 45, 5), (682, 45, 10), (683, 46, 1), (684, 46, 10), (685, 46, 5), (686, 47, 2), (687, 48, 1), (688, 48, 4), (689, 48, 10), (690, 49, 4), (691, 49, 7), (692, 50, 7), (693, 51, 7), (694, 51, 8), (695, 51, 4), (696, 52, 2), (697, 52, 3), (698, 53, 2), (699, 53, 5), (700, 53, 4), (701, 54, 3), (702, 54, 9), (703, 54, 5), (704, 55, 6), (705, 55, 10), (706, 55, 9), (707, 56, 6), (708, 57, 2), (709, 57, 7), (710, 57, 5), (711, 58, 1), (712, 59, 9), (713, 59, 8), (714, 59, 10), (715, 60, 2), (716, 60, 4), (717, 61, 1), (718, 62, 1), (719, 63, 5), (720, 64, 3), (721, 64, 9), (722, 64, 4), (723, 65, 3), (724, 66, 3), (725, 66, 4), (726, 66, 6), (727, 67, 7), (728, 68, 3), (729, 69, 6), (730, 69, 8), (731, 69, 3), (732, 70, 7), (733, 70, 10), (734, 71, 5), (735, 71, 1), (736, 72, 3), (737, 72, 7), (738, 72, 9), (739, 73, 7), (740, 73, 10), (741, 74, 6), (742, 74, 1), (743, 74, 7), (744, 75, 2), (745, 75, 5), (746, 76, 7), (747, 76, 8), (748, 76, 9), (749, 77, 4), (750, 77, 6), (751, 77, 1), (752, 78, 2), (753, 78, 9), (754, 78, 10), (755, 79, 3), (756, 79, 5), (757, 80, 5), (758, 81, 1), (759, 81, 5), (760, 81, 6), (761, 82, 3), (762, 83, 9), (763, 83, 3), (764, 83, 2), (765, 84, 5), (766, 84, 3), (767, 85, 7), (768, 86, 3), (769, 87, 10), (770, 87, 9), (771, 87, 8), (772, 88, 5), (773, 89, 1), (774, 90, 2), (775, 91, 4), (776, 91, 1), (777, 91, 2), (778, 92, 7), (779, 92, 1), (780, 92, 8), (781, 93, 7), (782, 93, 3), (783, 94, 6), (784, 94, 10), (785, 95, 3), (786, 96, 9), (787, 96, 5), (788, 96, 2), (789, 97, 5), (790, 98, 9), (791, 98, 3), (792, 99, 7), (793, 99, 2), (794, 100, 9), (795, 2, 6), (796, 3, 8), (797, 4, 10), (798, 5, 10), (799, 5, 3), (800, 5, 6), (801, 6, 7), (802, 6, 4), (803, 6, 5), (804, 7, 1), (805, 8, 9), (806, 9, 9), (807, 10, 7), (808, 10, 3), (809, 10, 1), (810, 11, 3), (811, 11, 6), (812, 11, 8), (813, 12, 10), (814, 13, 2), (815, 13, 9), (816, 13, 10), (817, 14, 3), (818, 14, 1), (819, 15, 8), (820, 15, 5), (821, 15, 2), (822, 16, 6), (823, 16, 4), (824, 16, 1), (825, 17, 6), (826, 17, 1), (827, 17, 7), (828, 18, 3), (829, 19, 9), (830, 19, 1), (831, 20, 8), (832, 20, 4), (833, 20, 10), (834, 21, 7), (835, 21, 6), (836, 22, 3), (837, 22, 10), (838, 22, 9), (839, 23, 5), (840, 24, 7), (841, 24, 8), (842, 25, 9), (843, 26, 9), (844, 26, 8), (845, 26, 1), (846, 27, 6), (847, 28, 3), (848, 28, 1), (849, 29, 5), (850, 29, 3), (851, 30, 3), (852, 30, 6), (853, 30, 1), (854, 31, 4), (855, 31, 9), (856, 31, 3), (857, 32, 4), (858, 32, 9), (859, 33, 5), (860, 33, 4), (861, 34, 3), (862, 34, 8), (863, 35, 7), (864, 36, 6), (865, 36, 4), (866, 37, 2), (867, 37, 6), (868, 38, 4), (869, 39, 6), (870, 40, 4), (871, 41, 10), (872, 41, 3), (873, 42, 10), (874, 42, 5), (875, 42, 7), (876, 43, 2), (877, 44, 9), (878, 45, 6), (879, 45, 5), (880, 45, 10), (881, 46, 1), (882, 46, 10), (883, 46, 5), (884, 47, 2), (885, 48, 1), (886, 48, 4), (887, 48, 10), (888, 49, 4), (889, 49, 7), (890, 50, 7), (891, 51, 7), (892, 51, 8), (893, 51, 4), (894, 52, 2), (895, 52, 3), (896, 53, 2), (897, 53, 5), (898, 53, 4), (899, 54, 3), (900, 54, 9), (901, 54, 5), (902, 55, 6), (903, 55, 10), (904, 55, 9), (905, 56, 6), (906, 57, 2), (907, 57, 7), (908, 57, 5), (909, 58, 1), (910, 59, 9), (911, 59, 8), (912, 59, 10), (913, 60, 2), (914, 60, 4), (915, 61, 1), (916, 62, 1), (917, 63, 5), (918, 64, 3), (919, 64, 9), (920, 64, 4), (921, 65, 3), (922, 66, 3), (923, 66, 4), (924, 66, 6), (925, 67, 7), (926, 68, 3), (927, 69, 6), (928, 69, 8), (929, 69, 3), (930, 70, 7), (931, 70, 10), (932, 71, 5), (933, 71, 1), (934, 72, 3), (935, 72, 7), (936, 72, 9), (937, 73, 7), (938, 73, 10), (939, 74, 6), (940, 74, 1), (941, 74, 7), (942, 75, 2), (943, 75, 5), (944, 76, 7), (945, 76, 8), (946, 76, 9), (947, 77, 4), (948, 77, 6), (949, 77, 1), (950, 78, 2), (951, 78, 9), (952, 78, 10), (953, 79, 3), (954, 79, 5), (955, 80, 5), (956, 81, 1), (957, 81, 5), (958, 81, 6), (959, 82, 3), (960, 83, 9), (961, 83, 3), (962, 83, 2), (963, 84, 5), (964, 84, 3), (965, 85, 7), (966, 86, 3), (967, 87, 10), (968, 87, 9), (969, 87, 8), (970, 88, 5), (971, 89, 1), (972, 90, 2), (973, 91, 4), (974, 91, 1), (975, 91, 2), (976, 92, 7), (977, 92, 1), (978, 92, 8), (979, 93, 7), (980, 93, 3), (981, 94, 6), (982, 94, 10), (983, 95, 3), (984, 96, 9), (985, 96, 5), (986, 96, 2), (987, 97, 5), (988, 98, 9), (989, 98, 3), (990, 99, 7), (991, 99, 2), (992, 100, 9), (993, 2, 6), (994, 3, 8), (995, 4, 10), (996, 5, 10), (997, 5, 3), (998, 5, 6), (999, 6, 7), (1000, 6, 4), (1001, 6, 5), (1002, 7, 1), (1003, 8, 9), (1004, 9, 9), (1005, 10, 7), (1006, 10, 3), (1007, 10, 1), (1008, 11, 3), (1009, 11, 6), (1010, 11, 8), (1011, 12, 10), (1012, 13, 2), (1013, 13, 9), (1014, 13, 10), (1015, 14, 3), (1016, 14, 1), (1017, 15, 8), (1018, 15, 5), (1019, 15, 2), (1020, 16, 6), (1021, 16, 4), (1022, 16, 1), (1023, 17, 6), (1024, 17, 1), (1025, 17, 7), (1026, 18, 3), (1027, 19, 9), (1028, 19, 1), (1029, 20, 8), (1030, 20, 4), (1031, 20, 10), (1032, 21, 7), (1033, 21, 6), (1034, 22, 3), (1035, 22, 10), (1036, 22, 9), (1037, 23, 5), (1038, 24, 7), (1039, 24, 8), (1040, 25, 9), (1041, 26, 9), (1042, 26, 8), (1043, 26, 1), (1044, 27, 6), (1045, 28, 3), (1046, 28, 1), (1047, 29, 5), (1048, 29, 3), (1049, 30, 3), (1050, 30, 6), (1051, 30, 1), (1052, 31, 4), (1053, 31, 9), (1054, 31, 3), (1055, 32, 4), (1056, 32, 9), (1057, 33, 5), (1058, 33, 4), (1059, 34, 3), (1060, 34, 8), (1061, 35, 7), (1062, 36, 6), (1063, 36, 4), (1064, 37, 2), (1065, 37, 6), (1066, 38, 4), (1067, 39, 6), (1068, 40, 4), (1069, 41, 10), (1070, 41, 3), (1071, 42, 10), (1072, 42, 5), (1073, 42, 7), (1074, 43, 2), (1075, 44, 9), (1076, 45, 6), (1077, 45, 5), (1078, 45, 10), (1079, 46, 1), (1080, 46, 10), (1081, 46, 5), (1082, 47, 2), (1083, 48, 1), (1084, 48, 4), (1085, 48, 10), (1086, 49, 4), (1087, 49, 7), (1088, 50, 7), (1089, 51, 7), (1090, 51, 8), (1091, 51, 4), (1092, 52, 2), (1093, 52, 3), (1094, 53, 2), (1095, 53, 5), (1096, 53, 4), (1097, 54, 3), (1098, 54, 9), (1099, 54, 5), (1100, 55, 6), (1101, 55, 10), (1102, 55, 9), (1103, 56, 6), (1104, 57, 2), (1105, 57, 7), (1106, 57, 5), (1107, 58, 1), (1108, 59, 9), (1109, 59, 8), (1110, 59, 10), (1111, 60, 2), (1112, 60, 4), (1113, 61, 1), (1114, 62, 1), (1115, 63, 5), (1116, 64, 3), (1117, 64, 9), (1118, 64, 4), (1119, 65, 3), (1120, 66, 3), (1121, 66, 4), (1122, 66, 6), (1123, 67, 7), (1124, 68, 3), (1125, 69, 6), (1126, 69, 8), (1127, 69, 3), (1128, 70, 7), (1129, 70, 10), (1130, 71, 5), (1131, 71, 1), (1132, 72, 3), (1133, 72, 7), (1134, 72, 9), (1135, 73, 7), (1136, 73, 10), (1137, 74, 6), (1138, 74, 1), (1139, 74, 7), (1140, 75, 2), (1141, 75, 5), (1142, 76, 7), (1143, 76, 8), (1144, 76, 9), (1145, 77, 4), (1146, 77, 6), (1147, 77, 1), (1148, 78, 2), (1149, 78, 9), (1150, 78, 10), (1151, 79, 3), (1152, 79, 5), (1153, 80, 5), (1154, 81, 1), (1155, 81, 5), (1156, 81, 6), (1157, 82, 3), (1158, 83, 9), (1159, 83, 3), (1160, 83, 2), (1161, 84, 5), (1162, 84, 3), (1163, 85, 7), (1164, 86, 3), (1165, 87, 10), (1166, 87, 9), (1167, 87, 8), (1168, 88, 5), (1169, 89, 1), (1170, 90, 2), (1171, 91, 4), (1172, 91, 1), (1173, 91, 2), (1174, 92, 7), (1175, 92, 1), (1176, 92, 8), (1177, 93, 7), (1178, 93, 3), (1179, 94, 6), (1180, 94, 10), (1181, 95, 3), (1182, 96, 9), (1183, 96, 5), (1184, 96, 2), (1185, 97, 5), (1186, 98, 9), (1187, 98, 3), (1188, 99, 7), (1189, 99, 2), (1190, 100, 9), (1191, 2, 6), (1192, 3, 8), (1193, 4, 10), (1194, 5, 10), (1195, 5, 3), (1196, 5, 6), (1197, 6, 7), (1198, 6, 4), (1199, 6, 5), (1200, 7, 1), (1201, 8, 9), (1202, 9, 9), (1203, 10, 7), (1204, 10, 3), (1205, 10, 1), (1206, 11, 3), (1207, 11, 6), (1208, 11, 8), (1209, 12, 10), (1210, 13, 2), (1211, 13, 9), (1212, 13, 10), (1213, 14, 3), (1214, 14, 1), (1215, 15, 8), (1216, 15, 5), (1217, 15, 2), (1218, 16, 6), (1219, 16, 4), (1220, 16, 1), (1221, 17, 6), (1222, 17, 1), (1223, 17, 7), (1224, 18, 3), (1225, 19, 9), (1226, 19, 1), (1227, 20, 8), (1228, 20, 4), (1229, 20, 10), (1230, 21, 7), (1231, 21, 6), (1232, 22, 3), (1233, 22, 10), (1234, 22, 9), (1235, 23, 5), (1236, 24, 7), (1237, 24, 8), (1238, 25, 9), (1239, 26, 9), (1240, 26, 8), (1241, 26, 1), (1242, 27, 6), (1243, 28, 3), (1244, 28, 1), (1245, 29, 5), (1246, 29, 3), (1247, 30, 3), (1248, 30, 6), (1249, 30, 1), (1250, 31, 4), (1251, 31, 9), (1252, 31, 3), (1253, 32, 4), (1254, 32, 9), (1255, 33, 5), (1256, 33, 4), (1257, 34, 3), (1258, 34, 8), (1259, 35, 7), (1260, 36, 6), (1261, 36, 4), (1262, 37, 2), (1263, 37, 6), (1264, 38, 4), (1265, 39, 6), (1266, 40, 4), (1267, 41, 10), (1268, 41, 3), (1269, 42, 10), (1270, 42, 5), (1271, 42, 7), (1272, 43, 2), (1273, 44, 9), (1274, 45, 6), (1275, 45, 5), (1276, 45, 10), (1277, 46, 1), (1278, 46, 10), (1279, 46, 5), (1280, 47, 2), (1281, 48, 1), (1282, 48, 4), (1283, 48, 10), (1284, 49, 4), (1285, 49, 7), (1286, 50, 7), (1287, 51, 7), (1288, 51, 8), (1289, 51, 4), (1290, 52, 2), (1291, 52, 3), (1292, 53, 2), (1293, 53, 5), (1294, 53, 4), (1295, 54, 3), (1296, 54, 9), (1297, 54, 5), (1298, 55, 6), (1299, 55, 10), (1300, 55, 9), (1301, 56, 6), (1302, 57, 2), (1303, 57, 7), (1304, 57, 5), (1305, 58, 1), (1306, 59, 9), (1307, 59, 8), (1308, 59, 10), (1309, 60, 2), (1310, 60, 4), (1311, 61, 1), (1312, 62, 1), (1313, 63, 5), (1314, 64, 3), (1315, 64, 9), (1316, 64, 4), (1317, 65, 3), (1318, 66, 3), (1319, 66, 4), (1320, 66, 6), (1321, 67, 7), (1322, 68, 3), (1323, 69, 6), (1324, 69, 8), (1325, 69, 3), (1326, 70, 7), (1327, 70, 10), (1328, 71, 5), (1329, 71, 1), (1330, 72, 3), (1331, 72, 7), (1332, 72, 9), (1333, 73, 7), (1334, 73, 10), (1335, 74, 6), (1336, 74, 1), (1337, 74, 7), (1338, 75, 2), (1339, 75, 5), (1340, 76, 7), (1341, 76, 8), (1342, 76, 9), (1343, 77, 4), (1344, 77, 6), (1345, 77, 1), (1346, 78, 2), (1347, 78, 9), (1348, 78, 10), (1349, 79, 3), (1350, 79, 5), (1351, 80, 5), (1352, 81, 1), (1353, 81, 5), (1354, 81, 6), (1355, 82, 3), (1356, 83, 9), (1357, 83, 3), (1358, 83, 2), (1359, 84, 5), (1360, 84, 3), (1361, 85, 7), (1362, 86, 3), (1363, 87, 10), (1364, 87, 9), (1365, 87, 8), (1366, 88, 5), (1367, 89, 1), (1368, 90, 2), (1369, 91, 4), (1370, 91, 1), (1371, 91, 2), (1372, 92, 7), (1373, 92, 1), (1374, 92, 8), (1375, 93, 7), (1376, 93, 3), (1377, 94, 6), (1378, 94, 10), (1379, 95, 3), (1380, 96, 9), (1381, 96, 5), (1382, 96, 2), (1383, 97, 5), (1384, 98, 9), (1385, 98, 3), (1386, 99, 7), (1387, 99, 2), (1388, 100, 9), (1389, 2, 6), (1390, 3, 8), (1391, 4, 10), (1392, 5, 10), (1393, 5, 3), (1394, 5, 6), (1395, 6, 7), (1396, 6, 4), (1397, 6, 5), (1398, 7, 1), (1399, 8, 9), (1400, 9, 9), (1401, 10, 7), (1402, 10, 3), (1403, 10, 1), (1404, 11, 3), (1405, 11, 6), (1406, 11, 8), (1407, 12, 10), (1408, 13, 2), (1409, 13, 9), (1410, 13, 10), (1411, 14, 3), (1412, 14, 1), (1413, 15, 8), (1414, 15, 5), (1415, 15, 2), (1416, 16, 6), (1417, 16, 4), (1418, 16, 1), (1419, 17, 6), (1420, 17, 1), (1421, 17, 7), (1422, 18, 3), (1423, 19, 9), (1424, 19, 1), (1425, 20, 8), (1426, 20, 4), (1427, 20, 10), (1428, 21, 7), (1429, 21, 6), (1430, 22, 3), (1431, 22, 10), (1432, 22, 9), (1433, 23, 5), (1434, 24, 7), (1435, 24, 8), (1436, 25, 9), (1437, 26, 9), (1438, 26, 8), (1439, 26, 1), (1440, 27, 6), (1441, 28, 3), (1442, 28, 1), (1443, 29, 5), (1444, 29, 3), (1445, 30, 3), (1446, 30, 6), (1447, 30, 1), (1448, 31, 4), (1449, 31, 9), (1450, 31, 3), (1451, 32, 4), (1452, 32, 9), (1453, 33, 5), (1454, 33, 4), (1455, 34, 3), (1456, 34, 8), (1457, 35, 7), (1458, 36, 6), (1459, 36, 4), (1460, 37, 2), (1461, 37, 6), (1462, 38, 4), (1463, 39, 6), (1464, 40, 4), (1465, 41, 10), (1466, 41, 3), (1467, 42, 10), (1468, 42, 5), (1469, 42, 7), (1470, 43, 2), (1471, 44, 9), (1472, 45, 6), (1473, 45, 5), (1474, 45, 10), (1475, 46, 1), (1476, 46, 10), (1477, 46, 5), (1478, 47, 2), (1479, 48, 1), (1480, 48, 4), (1481, 48, 10), (1482, 49, 4), (1483, 49, 7), (1484, 50, 7), (1485, 51, 7), (1486, 51, 8), (1487, 51, 4), (1488, 52, 2), (1489, 52, 3), (1490, 53, 2), (1491, 53, 5), (1492, 53, 4), (1493, 54, 3), (1494, 54, 9), (1495, 54, 5), (1496, 55, 6), (1497, 55, 10), (1498, 55, 9), (1499, 56, 6), (1500, 57, 2), (1501, 57, 7), (1502, 57, 5), (1503, 58, 1), (1504, 59, 9), (1505, 59, 8), (1506, 59, 10), (1507, 60, 2), (1508, 60, 4), (1509, 61, 1), (1510, 62, 1), (1511, 63, 5), (1512, 64, 3), (1513, 64, 9), (1514, 64, 4), (1515, 65, 3), (1516, 66, 3), (1517, 66, 4), (1518, 66, 6), (1519, 67, 7), (1520, 68, 3), (1521, 69, 6), (1522, 69, 8), (1523, 69, 3), (1524, 70, 7), (1525, 70, 10), (1526, 71, 5), (1527, 71, 1), (1528, 72, 3), (1529, 72, 7), (1530, 72, 9), (1531, 73, 7), (1532, 73, 10), (1533, 74, 6), (1534, 74, 1), (1535, 74, 7), (1536, 75, 2), (1537, 75, 5), (1538, 76, 7), (1539, 76, 8), (1540, 76, 9), (1541, 77, 4), (1542, 77, 6), (1543, 77, 1), (1544, 78, 2), (1545, 78, 9), (1546, 78, 10), (1547, 79, 3), (1548, 79, 5), (1549, 80, 5), (1550, 81, 1), (1551, 81, 5), (1552, 81, 6), (1553, 82, 3), (1554, 83, 9), (1555, 83, 3), (1556, 83, 2), (1557, 84, 5), (1558, 84, 3), (1559, 85, 7), (1560, 86, 3), (1561, 87, 10), (1562, 87, 9), (1563, 87, 8), (1564, 88, 5), (1565, 89, 1), (1566, 90, 2), (1567, 91, 4), (1568, 91, 1), (1569, 91, 2), (1570, 92, 7), (1571, 92, 1), (1572, 92, 8), (1573, 93, 7), (1574, 93, 3), (1575, 94, 6), (1576, 94, 10), (1577, 95, 3), (1578, 96, 9), (1579, 96, 5), (1580, 96, 2), (1581, 97, 5), (1582, 98, 9), (1583, 98, 3), (1584, 99, 7), (1585, 99, 2), (1586, 100, 9), (1588, 2, 6), (1589, 3, 8), (1590, 4, 10), (1591, 5, 10), (1592, 5, 3), (1593, 5, 6), (1594, 6, 7), (1595, 6, 4), (1596, 6, 5), (1597, 7, 1), (1598, 8, 9), (1599, 9, 9), (1600, 10, 7), (1601, 10, 3), (1602, 10, 1), (1603, 11, 3), (1604, 11, 6), (1605, 11, 8), (1606, 12, 10), (1607, 13, 2), (1608, 13, 9), (1609, 13, 10), (1610, 14, 3), (1611, 14, 1), (1612, 15, 8), (1613, 15, 5), (1614, 15, 2), (1615, 16, 6), (1616, 16, 4), (1617, 16, 1), (1618, 17, 6), (1619, 17, 1), (1620, 17, 7), (1621, 18, 3), (1622, 19, 9), (1623, 19, 1), (1624, 20, 8), (1625, 20, 4), (1626, 20, 10), (1627, 21, 7), (1628, 21, 6), (1629, 22, 3), (1630, 22, 10), (1631, 22, 9), (1632, 23, 5), (1633, 24, 7), (1634, 24, 8), (1635, 25, 9), (1636, 26, 9), (1637, 26, 8), (1638, 26, 1), (1639, 27, 6), (1640, 28, 3), (1641, 28, 1), (1642, 29, 5), (1643, 29, 3), (1644, 30, 3), (1645, 30, 6), (1646, 30, 1), (1647, 31, 4), (1648, 31, 9), (1649, 31, 3), (1650, 32, 4), (1651, 32, 9), (1652, 33, 5), (1653, 33, 4), (1654, 34, 3), (1655, 34, 8), (1656, 35, 7), (1657, 36, 6), (1658, 36, 4), (1659, 37, 2), (1660, 37, 6), (1661, 38, 4), (1662, 39, 6), (1663, 40, 4), (1664, 41, 10), (1665, 41, 3), (1666, 42, 10), (1667, 42, 5), (1668, 42, 7), (1669, 43, 2), (1670, 44, 9), (1671, 45, 6), (1672, 45, 5), (1673, 45, 10), (1674, 46, 1), (1675, 46, 10), (1676, 46, 5), (1677, 47, 2), (1678, 48, 1), (1679, 48, 4), (1680, 48, 10), (1681, 49, 4), (1682, 49, 7), (1683, 50, 7), (1684, 51, 7), (1685, 51, 8), (1686, 51, 4), (1687, 52, 2), (1688, 52, 3), (1689, 53, 2), (1690, 53, 5), (1691, 53, 4), (1692, 54, 3), (1693, 54, 9), (1694, 54, 5), (1695, 55, 6), (1696, 55, 10), (1697, 55, 9), (1698, 56, 6), (1699, 57, 2), (1700, 57, 7), (1701, 57, 5), (1702, 58, 1), (1703, 59, 9), (1704, 59, 8), (1705, 59, 10), (1706, 60, 2), (1707, 60, 4), (1708, 61, 1), (1709, 62, 1), (1710, 63, 5), (1711, 64, 3), (1712, 64, 9), (1713, 64, 4), (1714, 65, 3), (1715, 66, 3), (1716, 66, 4), (1717, 66, 6), (1718, 67, 7), (1719, 68, 3), (1720, 69, 6), (1721, 69, 8), (1722, 69, 3), (1723, 70, 7), (1724, 70, 10), (1725, 71, 5), (1726, 71, 1), (1727, 72, 3), (1728, 72, 7), (1729, 72, 9), (1730, 73, 7), (1731, 73, 10), (1732, 74, 6), (1733, 74, 1), (1734, 74, 7), (1735, 75, 2), (1736, 75, 5), (1737, 76, 7), (1738, 76, 8), (1739, 76, 9), (1740, 77, 4), (1741, 77, 6), (1742, 77, 1), (1743, 78, 2), (1744, 78, 9), (1745, 78, 10), (1746, 79, 3), (1747, 79, 5), (1748, 80, 5), (1749, 81, 1), (1750, 81, 5), (1751, 81, 6), (1752, 82, 3), (1753, 83, 9), (1754, 83, 3), (1755, 83, 2), (1756, 84, 5), (1757, 84, 3), (1758, 85, 7), (1759, 86, 3), (1760, 87, 10), (1761, 87, 9), (1762, 87, 8), (1763, 88, 5), (1764, 89, 1), (1765, 90, 2), (1766, 91, 4), (1767, 91, 1), (1768, 91, 2), (1769, 92, 7), (17

In [110]:
#8.  Fetch all students enrolled in a particular course (given course_id as input).

cid = input("Enter Course ID: ")

# fetch students with course name
query = """
SELECT c.course_name, s.student_id, s.name, s.age, s.grade
FROM courses c
JOIN enrollments e ON c.course_id = e.course_id
JOIN students s ON s.student_id = e.student_id
WHERE c.course_id = %s
"""
cursor.execute(query, (cid,))
rows = cursor.fetchall()

if rows:
    print(f"\nStudents enrolled in Course {cid} - {rows[0][0]}:")
    for r in rows:
        print(f"ID: {r[1]}, Name: {r[2]}, Age: {r[3]}, Grade: {r[4]}")
    print(f"\nTotal students enrolled: {len(rows)}")
else:
    print("No students found for that course.")

Students enrolled in Course 5 - History:
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C
ID: 6, Name: Ian6, Age: 19, Grade: D
ID: 15, Name: Quincy15, Age: 24, Grade: A
ID: 23, Name: Karen23, Age: 25, Grade: A
ID: 29, Name: Ian29, Age: 23, Grade: B
ID: 33, Name: David33, Age: 25, Grade: D
ID: 42, Name: Quincy42, Age: 24, Grade: C
ID: 45, Name: Xander45, Age: 23, Grade: C
ID: 46, Name: Zane46, Age: 25, Grade: C
ID: 53, Name: Bob53, Age: 21, Grade: C
ID: 54, Name: Leo54, Age: 18, Grade: C
ID: 57, Name: Nina57, Age: 21, Grade: B
ID: 63, Name: Victor63, Age: 20, Grade: D
ID: 71, Name: Nina71, Age: 23, Grade: B
ID: 75, Name: Quincy75, Age: 23, Grade: D
ID: 79, Name: Xander79, Age: 24, Grade: C
ID: 80, Name: Tina80, Age: 22, Grade: D
ID: 81, Name: Wendy81, Age: 20, Grade: A
ID: 84, Name: Bob84, Age: 18, Grade: A
ID: 88, Name: Wendy88, Age: 23, Grade: A
ID: 96, Name: Ian96, Age: 25, Grade: C
ID: 97, Name: Mona97, Age: 22, Grade: C

Total students enrolled: 168

In [ ]:
#9. Write a program to display students who are not enrolled in any course

query = """
SELECT s.student_id, s.name, s.age, s.grade
FROM students s
LEFT JOIN enrollments e ON s.student_id = e.student_id
WHERE e.course_id IS NULL
"""
cursor.execute(query)
rows = cursor.fetchall()

if rows:
    print("Students not enrolled in any course:")
    for r in rows:
        print(r)
else:
    print("All students are enrolled in at least one course.")

Students not enrolled in any course:
(101, 'Zane1', 18, 'C')
(102, 'Uma2', 23, 'A')
(103, 'Wendy3', 22, 'B')
(104, 'Xander4', 22, 'A')
(105, 'Victor5', 19, 'A')
(106, 'Ian6', 19, 'D')
(107, 'Leo7', 22, 'A')
(108, 'Paul8', 24, 'B')
(109, 'Wendy9', 23, 'B')
(110, 'Leo10', 23, 'A')
(111, 'Uma11', 18, 'C')
(112, 'Rita12', 18, 'B')
(113, 'Yara13', 22, 'B')
(114, 'Bob14', 19, 'C')
(115, 'Quincy15', 24, 'A')
(116, 'Tina16', 19, 'A')
(117, 'Alice17', 25, 'B')
(118, 'Sam18', 20, 'B')
(119, 'Paul19', 23, 'A')
(120, 'Victor20', 19, 'D')
(121, 'Frank21', 23, 'A')
(122, 'Victor22', 18, 'A')
(123, 'Karen23', 25, 'A')
(124, 'Grace24', 24, 'D')
(125, 'Quincy25', 25, 'A')
(126, 'Mona26', 20, 'D')
(127, 'Uma27', 22, 'B')
(128, 'Nina28', 23, 'B')
(129, 'Ian29', 23, 'B')
(130, 'Tina30', 23, 'A')
(131, 'Nina31', 22, 'B')
(132, 'Hannah32', 21, 'A')
(133, 'David33', 25, 'D')
(134, 'Wendy34', 22, 'B')
(135, 'Frank35', 25, 'C')
(136, 'Paul36', 22, 'D')
(137, 'Ian37', 21, 'D')
(138, 'Paul38', 20, 'C')
(139, 'Hannah39', 18, 'A')
(140, 'Zane40', 21, 'A')
(141, 'Ian41', 24, 'D')
(142, 'Quincy42', 24, 'C')
(143, 'Quincy43', 25, 'D')
(144, 'Tina44', 19, 'C')
(145, 'Xander45', 23, 'C')
(146, 'Zane46', 25, 'C')
(147, 'Eva47', 19, 'D')
(148, 'Leo48', 22, 'B')
(149, 'Uma49', 25, 'A')
(150, 'Bob50', 22, 'D')
(151, 'Karen51', 18, 'A')
(152, 'Hannah52', 23, 'A')
(153, 'Bob53', 21, 'C')
(154, 'Leo54', 18, 'C')
(155, 'Yara55', 22, 'A')
(156, 'Eva56', 19, 'C')
(157, 'Nina57', 21, 'B')
(158, 'Eva58', 20, 'A')
(159, 'Oscar59', 21, 'B')
(160, 'Yara60', 18, 'B')
(161, 'Oscar61', 23, 'D')
(162, 'Rita62', 23, 'C')
(163, 'Victor63', 20, 'D')
(164, 'Xander64', 19, 'D')
(165, 'Hannah65', 22, 'D')
(166, 'Nina66', 25, 'D')
(167, 'Victor67', 18, 'A')
(168, 'Karen68', 18, 'A')
(169, 'Grace69', 18, 'D')
(170, 'Jack70', 24, 'A')
(171, 'Nina71', 23, 'B')
(172, 'Ian72', 22, 'D')
(173, 'Grace73', 19, 'A')
(174, 'Grace74', 24, 'C')
(175, 'Quincy75', 23, 'D')
(176, 'Oscar76', 19, 'D')
(177, 'Grace77', 22, 'D')
(178, 'Ian78', 22, 'D')
(179, 'Xander79', 24, 'C')
(180, 'Tina80', 22, 'D')
(181, 'Wendy81', 20, 'A')
(182, 'Karen82', 23, 'B')
(183, 'Leo83', 18, 'C')
(184, 'Bob84', 18, 'A')
(185, 'Rita85', 18, 'A')
(186, 'Alice86', 21, 'B')
(187, 'Sam87', 19, 'C')
(188, 'Wendy88', 23, 'A')
(189, 'Tina89', 21, 'C')
(190, 'Zane90', 25, 'D')
(191, 'Tina91', 21, 'D')
(192, 'Wendy92', 19, 'C')
(193, 'Quincy93', 19, 'A')
(194, 'Eva94', 24, 'C')
(195, 'Tina95', 25, 'D')
(196, 'Ian96', 25, 'C')
(197, 'Mona97', 22, 'C')
(198, 'Leo98', 25, 'A')
(199, 'Bob99', 23, 'C')
(200, 'Paul100', 19, 'B')
(201, 'Zane1', 18, 'C')
(202, 'Uma2', 23, 'A')
(203, 'Wendy3', 22, 'B')
(204, 'Xander4', 22, 'A')
(205, 'Victor5', 19, 'A')
(206, 'Ian6', 19, 'D')
(207, 'Leo7', 22, 'A')
(208, 'Paul8', 24, 'B')
(209, 'Wendy9', 23, 'B')
(210, 'Leo10', 23, 'A')
(211, 'Uma11', 18, 'C')
(212, 'Rita12', 18, 'B')
(213, 'Yara13', 22, 'B')
(214, 'Bob14', 19, 'C')
(215, 'Quincy15', 24, 'A')
(216, 'Tina16', 19, 'A')
(217, 'Alice17', 25, 'B')
(218, 'Sam18', 20, 'B')
(219, 'Paul19', 23, 'A')
(220, 'Victor20', 19, 'D')
(221, 'Frank21', 23, 'A')
(222, 'Victor22', 18, 'A')
(223, 'Karen23', 25, 'A')
(224, 'Grace24', 24, 'D')
(225, 'Quincy25', 25, 'A')
(226, 'Mona26', 20, 'D')
(227, 'Uma27', 22, 'B')
(228, 'Nina28', 23, 'B')
(229, 'Ian29', 23, 'B')
(230, 'Tina30', 23, 'A')
(231, 'Nina31', 22, 'B')
(232, 'Hannah32', 21, 'A')
(233, 'David33', 25, 'D')
(234, 'Wendy34', 22, 'B')
(235, 'Frank35', 25, 'C')
(236, 'Paul36', 22, 'D')
(237, 'Ian37', 21, 'D')
(238, 'Paul38', 20, 'C')
(239, 'Hannah39', 18, 'A')
(240, 'Zane40', 21, 'A')
(241, 'Ian41', 24, 'D')
(242, 'Quincy42', 24, 'C')
(243, 'Quincy43', 25, 'D')
(244, 'Tina44', 19, 'C')
(245, 'Xander45', 23, 'C')
(246, 'Zane46', 25, 'C')
(247, 'Eva47', 19, 'D')
(248, 'Leo48', 22, 'B')
(249, 'Uma49', 25, 'A')
(250, 'Bob50', 22, 'D')
(251, 'Karen51', 18, 'A')
(252, 'Hannah52', 23, 'A')
(253, 'Bob53', 21, 'C')
(254, 'Leo54', 18, 'C')
(255, 'Yara55', 22, 'A')
(256, 'Eva56', 19, 'C')
(257, 'Nina57', 21, 'B')
(258, 'Eva58', 20, 'A')
(259, 'Oscar59', 21, 'B')
(260, 'Yara60', 18, 'B')
(261, 'Oscar61', 23, 'D')
(262, 'Rita62', 23, 'C')
(263, 'Victor63', 20, 'D')
(264, 'Xander64', 19, 'D')
(265, 'Hannah65', 22, 'D')
(266, 'Nina66', 25, 'D')
(267, 'Victor67', 18, 'A')
(268, 'Karen68', 18, 'A')
(269, 'Grace69', 18, 'D')
(270, 'Jack70', 24, 'A')
(271, 'Nina71', 23, 'B')
(272, 'Ian72', 22, 'D')
(273, 'Grace73', 19, 'A')
(274, 'Grace74', 24, 'C')
(275, 'Quincy75', 23, 'D')
(276, 'Oscar76', 19, 'D')
(277, 'Grace77', 22, 'D')
(278, 'Ian78', 22, 'D')
(279, 'Xander79', 24, 'C')
(280, 'Tina80', 22, 'D')
(281, 'Wendy81', 20, 'A')
(282, 'Karen82', 23, 'B')
(283, 'Leo83', 18, 'C')
(284, 'Bob84', 18, 'A')
(285, 'Rita85', 18, 'A')
(286, 'Alice86', 21, 'B')
(287, 'Sam87', 19, 'C')
(288, 'Wendy88', 23, 'A')
(289, 'Tina89', 21, 'C')
(290, 'Zane90', 25, 'D')
(291, 'Tina91', 21, 'D')
(292, 'Wendy92', 19, 'C')
(293, 'Quincy93', 19, 'A')
(294, 'Eva94', 24, 'C')
(295, 'Tina95', 25, 'D')
(296, 'Ian96', 25, 'C')
(297, 'Mona97', 22, 'C')
(298, 'Leo98', 25, 'A')
(299, 'Bob99', 23, 'C')
(300, 'Paul100', 19, 'B')
(302, 'Zane1', 18, 'C')
(303, 'Uma2', 23, 'A')
(304, 'Wendy3', 22, 'B')
(305, 'Xander4', 22, 'A')
(306, 'Victor5', 19, 'A')
(307, 'Ian6', 19, 'D')
(308, 'Leo7', 22, 'A')
(309, 'Paul8', 24, 'B')
(310, 'Wendy9', 23, 'B')
(311, 'Leo10', 23, 'A')
(312, 'Uma11', 18, 'C')
(313, 'Rita12', 18, 'B')
(314, 'Yara13', 22, 'B')
(315, 'Bob14', 19, 'C')
(316, 'Quincy15', 24, 'A')
(317, 'Tina16', 19, 'A')
(318, 'Alice17', 25, 'B')
(319, 'Sam18', 20, 'B')
(320, 'Paul19', 23, 'A')
(321, 'Victor20', 19, 'D')
(322, 'Frank21', 23, 'A')
(323, 'Victor22', 18, 'A')
(324, 'Karen23', 25, 'A')
(325, 'Grace24', 24, 'D')
(326, 'Quincy25', 25, 'A')
(327, 'Mona26', 20, 'D')
(328, 'Uma27', 22, 'B')
(329, 'Nina28', 23, 'B')
(330, 'Ian29', 23, 'B')
(331, 'Tina30', 23, 'A')
(332, 'Nina31', 22, 'B')
(333, 'Hannah32', 21, 'A')
(334, 'David33', 25, 'D')
(335, 'Wendy34', 22, 'B')
(336, 'Frank35', 25, 'C')
(337, 'Paul36', 22, 'D')
(338, 'Ian37', 21, 'D')
(339, 'Paul38', 20, 'C')
(340, 'Hannah39', 18, 'A')
(341, 'Zane40', 21, 'A')
(342, 'Ian41', 24, 'D')
(343, 'Quincy42', 24, 'C')
(344, 'Quincy43', 25, 'D')
(345, 'Tina44', 19, 'C')
(346, 'Xander45', 23, 'C')
(347, 'Zane46', 25, 'C')
(348, 'Eva47', 19, 'D')
(349, 'Leo48', 22, 'B')
(350, 'Uma49', 25, 'A')
(351, 'Bob50', 22, 'D')
(352, 'Karen51', 18, 'A')
(353, 'Hannah52', 23, 'A')
(354, 'Bob53', 21, 'C')
(355, 'Leo54', 18, 'C')
(356, 'Yara55', 22, 'A')
(357, 'Eva56', 19, 'C')
(358, 'Nina57', 21, 'B')
(359, 'Eva58', 20, 'A')
(360, 'Oscar59', 21, 'B')
(361, 'Yara60', 18, 'B')
(362, 'Oscar61', 23, 'D')
(363, 'Rita62', 23, 'C')
(364, 'Victor63', 20, 'D')
(365, 'Xander64', 19, 'D')
(366, 'Hannah65', 22, 'D')
(367, 'Nina66', 25, 'D')
(368, 'Victor67', 18, 'A')
(369, 'Karen68', 18, 'A')
(370, 'Grace69', 18, 'D')
(371, 'Jack70', 24, 'A')
(372, 'Nina71', 23, 'B')
(373, 'Ian72', 22, 'D')
(374, 'Grace73', 19, 'A')
(375, 'Grace74', 24, 'C')
(376, 'Quincy75', 23, 'D')
(377, 'Oscar76', 19, 'D')
(378, 'Grace77', 22, 'D')
(379, 'Ian78', 22, 'D')
(380, 'Xander79', 24, 'C')
(381, 'Tina80', 22, 'D')
(382, 'Wendy81', 20, 'A')
(383, 'Karen82', 23, 'B')
(384, 'Leo83', 18, 'C')
(385, 'Bob84', 18, 'A')
(386, 'Rita85', 18, 'A')
(387, 'Alice86', 21, 'B')
(388, 'Sam87', 19, 'C')
(389, 'Wendy88', 23, 'A')
(390, 'Tina89', 21, 'C')
(391, 'Zane90', 25, 'D')
(392, 'Tina91', 21, 'D')
(393, 'Wendy92', 19, 'C')
(394, 'Quincy93', 19, 'A')
(395, 'Eva94', 24, 'C')
(396, 'Tina95', 25, 'D')
(397, 'Ian96', 25, 'C')
(398, 'Mona97', 22, 'C')
(399, 'Leo98', 25, 'A')
(400, 'Bob99', 23, 'C')
(401, 'Paul100', 19, 'B')
(403, 'Zane1', 18, 'C')
(404, 'Uma2', 23, 'A')
(405, 'Wendy3', 22, 'B')
(406, 'Xander4', 22, 'A')
(407, 'Victor5', 19, 'A')
(408, 'Ian6', 19, 'D')
(409, 'Leo7', 22, 'A')
(410, 'Paul8', 24, 'B')
(411, 'Wendy9', 23, 'B')
(412, 'Leo10', 23, 'A')
(413, 'Uma11', 18, 'C')
(414, 'Rita12', 18, 'B')
(415, 'Yara13', 22, 'B')
(416, 'Bob14', 19, 'C')
(417, 'Quincy15', 24, 'A')
(418, 'Tina16', 19, 'A')
(419, 'Alice17', 25, 'B')
(420, 'Sam18', 20, 'B')
(421, 'Paul19', 23, 'A')
(422, 'Victor20', 19, 'D')
(423, 'Frank21', 23, 'A')
(424, 'Victor22', 18, 'A')
(425, 'Karen23', 25, 'A')
(426, 'Grace24', 24, 'D')
(427, 'Quincy25', 25, 'A')
(428, 'Mona26', 20, 'D')
(429, 'Uma27', 22, 'B')
(430, 'Nina28', 23, 'B')
(431, 'Ian29', 23, 'B')
(432, 'Tina30', 23, 'A')
(433, 'Nina31', 22, 'B')
(434, 'Hannah32', 21, 'A')
(435, 'David33', 25, 'D')
(436, 'Wendy34', 22, 'B')
(437, 'Frank35', 25, 'C')
(438, 'Paul36', 22, 'D')
(439, 'Ian37', 21, 'D')
(440, 'Paul38', 20, 'C')
(441, 'Hannah39', 18, 'A')
(442, 'Zane40', 21, 'A')
(443, 'Ian41', 24, 'D')
(444, 'Quincy42', 24, 'C')
(445, 'Quincy43', 25, 'D')
(446, 'Tina44', 19, 'C')
(447, 'Xander45', 23, 'C')
(448, 'Zane46', 25, 'C')
(449, 'Eva47', 19, 'D')
(450, 'Leo48', 22, 'B')
(451, 'Uma49', 25, 'A')
(452, 'Bob50', 22, 'D')
(453, 'Karen51', 18, 'A')
(454, 'Hannah52', 23, 'A')
(455, 'Bob53', 21, 'C')
(456, 'Leo54', 18, 'C')
(457, 'Yara55', 22, 'A')
(458, 'Eva56', 19, 'C')
(459, 'Nina57', 21, 'B')
(460, 'Eva58', 20, 'A')
(461, 'Oscar59', 21, 'B')
(462, 'Yara60', 18, 'B')
(463, 'Oscar61', 23, 'D')
(464, 'Rita62', 23, 'C')
(465, 'Victor63', 20, 'D')
(466, 'Xander64', 19, 'D')
(467, 'Hannah65', 22, 'D')
(468, 'Nina66', 25, 'D')
(469, 'Victor67', 18, 'A')
(470, 'Karen68', 18, 'A')
(471, 'Grace69', 18, 'D')
(472, 'Jack70', 24, 'A')
(473, 'Nina71', 23, 'B')
(474, 'Ian72', 22, 'D')
(475, 'Grace73', 19, 'A')
(476, 'Grace74', 24, 'C')
(477, 'Quincy75', 23, 'D')
(478, 'Oscar76', 19, 'D')
(479, 'Grace77', 22, 'D')
(480, 'Ian78', 22, 'D')
(481, 'Xander79', 24, 'C')
(482, 'Tina80', 22, 'D')
(483, 'Wendy81', 20, 'A')
(484, 'Karen82', 23, 'B')
(485, 'Leo83', 18, 'C')
(486, 'Bob84', 18, 'A')
(487, 'Rita85', 18, 'A')
(488, 'Alice86', 21, 'B')
(489, 'Sam87', 19, 'C')
(490, 'Wendy88', 23, 'A')
(491, 'Tina89', 21, 'C')
(492, 'Zane90', 25, 'D')
(493, 'Tina91', 21, 'D')
(494, 'Wendy92', 19, 'C')
(495, 'Quincy93', 19, 'A')
(496, 'Eva94', 24, 'C')
(497, 'Tina95', 25, 'D')
(498, 'Ian96', 25, 'C')
(499, 'Mona97', 22, 'C')
(500, 'Leo98', 25, 'A')
(501, 'Bob99', 23, 'C')
(502, 'Paul100', 19, 'B')
(503, 'Zane1', 18, 'C')
(504, 'Uma2', 23, 'A')
(505, 'Wendy3', 22, 'B')
(506, 'Xander4', 22, 'A')
(507, 'Victor5', 19, 'A')
(508, 'Ian6', 19, 'D')
(509, 'Leo7', 22, 'A')
(510, 'Paul8', 24, 'B')
(511, 'Wendy9', 23, 'B')
(512, 'Leo10', 23, 'A')
(513, 'Uma11', 18, 'C')
(514, 'Rita12', 18, 'B')
(515, 'Yara13', 22, 'B')
(516, 'Bob14', 19, 'C')
(517, 'Quincy15', 24, 'A')
(518, 'Tina16', 19, 'A')
(519, 'Alice17', 25, 'B')
(520, 'Sam18', 20, 'B')
(521, 'Paul19', 23, 'A')
(522, 'Victor20', 19, 'D')
(523, 'Frank21', 23, 'A')
(524, 'Victor22', 18, 'A')
(525, 'Karen23', 25, 'A')
(526, 'Grace24', 24, 'D')
(527, 'Quincy25', 25, 'A')
(528, 'Mona26', 20, 'D')
(529, 'Uma27', 22, 'B')
(530, 'Nina28', 23, 'B')
(531, 'Ian29', 23, 'B')
(532, 'Tina30', 23, 'A')
(533, 'Nina31', 22, 'B')
(534, 'Hannah32', 21, 'A')
(535, 'David33', 25, 'D')
(536, 'Wendy34', 22, 'B')
(537, 'Frank35', 25, 'C')
(538, 'Paul36', 22, 'D')
(539, 'Ian37', 21, 'D')
(540, 'Paul38', 20, 'C')
(541, 'Hannah39', 18, 'A')
(542, 'Zane40', 21, 'A')
(543, 'Ian41', 24, 'D')
(544, 'Quincy42', 24, 'C')
(545, 'Quincy43', 25, 'D')
(546, 'Tina44', 19, 'C')
(547, 'Xander45', 23, 'C')
(548, 'Zane46', 25, 'C')
(549, 'Eva47', 19, 'D')
(550, 'Leo48', 22, 'B')
(551, 'Uma49', 25, 'A')
(552, 'Bob50', 22, 'D')
(553, 'Karen51', 18, 'A')
(554, 'Hannah52', 23, 'A')
(555, 'Bob53', 21, 'C')
(556, 'Leo54', 18, 'C')
(557, 'Yara55', 22, 'A')
(558, 'Eva56', 19, 'C')
(559, 'Nina57', 21, 'B')
(560, 'Eva58', 20, 'A')
(561, 'Oscar59', 21, 'B')
(562, 'Yara60', 18, 'B')
(563, 'Oscar61', 23, 'D')
(564, 'Rita62', 23, 'C')
(565, 'Victor63', 20, 'D')
(566, 'Xander64', 19, 'D')
(567, 'Hannah65', 22, 'D')
(568, 'Nina66', 25, 'D')
(569, 'Victor67', 18, 'A')
(570, 'Karen68', 18, 'A')
(571, 'Grace69', 18, 'D')
(572, 'Jack70', 24, 'A')
(573, 'Nina71', 23, 'B')
(574, 'Ian72', 22, 'D')
(575, 'Grace73', 19, 'A')
(576, 'Grace74', 24, 'C')
(577, 'Quincy75', 23, 'D')
(578, 'Oscar76', 19, 'D')
(579, 'Grace77', 22, 'D')
(580, 'Ian78', 22, 'D')
(581, 'Xander79', 24, 'C')
(582, 'Tina80', 22, 'D')
(583, 'Wendy81', 20, 'A')
(584, 'Karen82', 23, 'B')
(585, 'Leo83', 18, 'C')
(586, 'Bob84', 18, 'A')
(587, 'Rita85', 18, 'A')
(588, 'Alice86', 21, 'B')
(589, 'Sam87', 19, 'C')
(590, 'Wendy88', 23, 'A')
(591, 'Tina89', 21, 'C')
(592, 'Zane90', 25, 'D')
(593, 'Tina91', 21, 'D')
(594, 'Wendy92', 19, 'C')
(595, 'Quincy93', 19, 'A')
(596, 'Eva94', 24, 'C')
(597, 'Tina95', 25, 'D')
(598, 'Ian96', 25, 'C')
(599, 'Mona97', 22, 'C')
(600, 'Leo98', 25, 'A')
(601, 'Bob99', 23, 'C')
(602, 'Paul100', 19, 'B')
(604, 'Zane1', 18, 'C')
(605, 'Uma2', 23, 'A')
(606, 'Wendy3', 22, 'B')
(607, 'Xander4', 22, 'A')
(608, 'Victor5', 19, 'A')
(609, 'Ian6', 19, 'D')
(610, 'Leo7', 22, 'A')
(611, 'Paul8', 24, 'B')
(612, 'Wendy9', 23, 'B')
(613, 'Leo10', 23, 'A')
(614, 'Uma11', 18, 'C')
(615, 'Rita12', 18, 'B')
(616, 'Yara13', 22, 'B')
(617, 'Bob14', 19, 'C')
(618, 'Quincy15', 24, 'A')
(619, 'Tina16', 19, 'A')
(620, 'Alice17', 25, 'B')
(621, 'Sam18', 20, 'B')
(622, 'Paul19', 23, 'A')
(623, 'Victor20', 19, 'D')
(624, 'Frank21', 23, 'A')
(625, 'Victor22', 18, 'A')
(626, 'Karen23', 25, 'A')
(627, 'Grace24', 24, 'D')
(628, 'Quincy25', 25, 'A')
(629, 'Mona26', 20, 'D')
(630, 'Uma27', 22, 'B')
(631, 'Nina28', 23, 'B')
(632, 'Ian29', 23, 'B')
(633, 'Tina30', 23, 'A')
(634, 'Nina31', 22, 'B')
(635, 'Hannah32', 21, 'A')
(636, 'David33', 25, 'D')
(637, 'Wendy34', 22, 'B')
(638, 'Frank35', 25, 'C')
(639, 'Paul36', 22, 'D')
(640, 'Ian37', 21, 'D')
(641, 'Paul38', 20, 'C')
(642, 'Hannah39', 18, 'A')
(643, 'Zane40', 21, 'A')
(644, 'Ian41', 24, 'D')
(645, 'Quincy42', 24, 'C')
(646, 'Quincy43', 25, 'D')
(647, 'Tina44', 19, 'C')
(648, 'Xander45', 23, 'C')
(649, 'Zane46', 25, 'C')
(650, 'Eva47', 19, 'D')
(651, 'Leo48', 22, 'B')
(652, 'Uma49', 25, 'A')
(653, 'Bob50', 22, 'D')
(654, 'Karen51', 18, 'A')
(655, 'Hannah52', 23, 'A')
(656, 'Bob53', 21, 'C')
(657, 'Leo54', 18, 'C')
(658, 'Yara55', 22, 'A')
(659, 'Eva56', 19, 'C')
(660, 'Nina57', 21, 'B')
(661, 'Eva58', 20, 'A')
(662, 'Oscar59', 21, 'B')
(663, 'Yara60', 18, 'B')
(664, 'Oscar61', 23, 'D')
(665, 'Rita62', 23, 'C')
(666, 'Victor63', 20, 'D')
(667, 'Xander64', 19, 'D')
(668, 'Hannah65', 22, 'D')
(669, 'Nina66', 25, 'D')
(670, 'Victor67', 18, 'A')
(671, 'Karen68', 18, 'A')
(672, 'Grace69', 18, 'D')
(673, 'Jack70', 24, 'A')
(674, 'Nina71', 23, 'B')
(675, 'Ian72', 22, 'D')
(676, 'Grace73', 19, 'A')
(677, 'Grace74', 24, 'C')
(678, 'Quincy75', 23, 'D')
(679, 'Oscar76', 19, 'D')
(680, 'Grace77', 22, 'D')
(681, 'Ian78', 22, 'D')
(682, 'Xander79', 24, 'C')
(683, 'Tina80', 22, 'D')
(684, 'Wendy81', 20, 'A')
(685, 'Karen82', 23, 'B')
(686, 'Leo83', 18, 'C')
(687, 'Bob84', 18, 'A')
(688, 'Rita85', 18, 'A')
(689, 'Alice86', 21, 'B')
(690, 'Sam87', 19, 'C')
(691, 'Wendy88', 23, 'A')
(692, 'Tina89', 21, 'C')
(693, 'Zane90', 25, 'D')
(694, 'Tina91', 21, 'D')
(695, 'Wendy92', 19, 'C')
(696, 'Quincy93', 19, 'A')
(697, 'Eva94', 24, 'C')
(698, 'Tina95', 25, 'D')
(699, 'Ian96', 25, 'C')
(700, 'Mona97', 22, 'C')
(701, 'Leo98', 25, 'A')
(702, 'Bob99', 23, 'C')
(703, 'Paul100', 19, 'B')
(704, 'Zane1', 18, 'C')
(705, 'Uma2', 23, 'A')
(706, 'Wendy3', 22, 'B')
(707, 'Xander4', 22, 'A')
(708, 'Victor5', 19, 'A')
(709, 'Ian6', 19, 'D')
(710, 'Leo7', 22, 'A')
(711, 'Paul8', 24, 'B')
(712, 'Wendy9', 23, 'B')
(713, 'Leo10', 23, 'A')
(714, 'Uma11', 18, 'C')
(715, 'Rita12', 18, 'B')
(716, 'Yara13', 22, 'B')
(717, 'Bob14', 19, 'C')
(718, 'Quincy15', 24, 'A')
(719, 'Tina16', 19, 'A')
(720, 'Alice17', 25, 'B')
(721, 'Sam18', 20, 'B')
(722, 'Paul19', 23, 'A')
(723, 'Victor20', 19, 'D')
(724, 'Frank21', 23, 'A')
(725, 'Victor22', 18, 'A')
(726, 'Karen23', 25, 'A')
(727, 'Grace24', 24, 'D')
(728, 'Quincy25', 25, 'A')
(729, 'Mona26', 20, 'D')
(730, 'Uma27', 22, 'B')
(731, 'Nina28', 23, 'B')
(732, 'Ian29', 23, 'B')
(733, 'Tina30', 23, 'A')
(734, 'Nina31', 22, 'B')
(735, 'Hannah32', 21, 'A')
(736, 'David33', 25, 'D')
(737, 'Wendy34', 22, 'B')
(738, 'Frank35', 25, 'C')
(739, 'Paul36', 22, 'D')
(740, 'Ian37', 21, 'D')
(741, 'Paul38', 20, 'C')
(742, 'Hannah39', 18, 'A')
(743, 'Zane40', 21, 'A')
(744, 'Ian41', 24, 'D')
(745, 'Quincy42', 24, 'C')
(746, 'Quincy43', 25, 'D')
(747, 'Tina44', 19, 'C')
(748, 'Xander45', 23, 'C')
(749, 'Zane46', 25, 'C')
(750, 'Eva47', 19, 'D')
(751, 'Leo48', 22, 'B')
(752, 'Uma49', 25, 'A')
(753, 'Bob50', 22, 'D')
(754, 'Karen51', 18, 'A')
(755, 'Hannah52', 23, 'A')
(756, 'Bob53', 21, 'C')
(757, 'Leo54', 18, 'C')
(758, 'Yara55', 22, 'A')
(759, 'Eva56', 19, 'C')
(760, 'Nina57', 21, 'B')
(761, 'Eva58', 20, 'A')
(762, 'Oscar59', 21, 'B')
(763, 'Yara60', 18, 'B')
(764, 'Oscar61', 23, 'D')
(765, 'Rita62', 23, 'C')
(766, 'Victor63', 20, 'D')
(767, 'Xander64', 19, 'D')
(768, 'Hannah65', 22, 'D')
(769, 'Nina66', 25, 'D')
(770, 'Victor67', 18, 'A')
(771, 'Karen68', 18, 'A')
(772, 'Grace69', 18, 'D')
(773, 'Jack70', 24, 'A')
(774, 'Nina71', 23, 'B')
(775, 'Ian72', 22, 'D')
(776, 'Grace73', 19, 'A')
(777, 'Grace74', 24, 'C')
(778, 'Quincy75', 23, 'D')
(779, 'Oscar76', 19, 'D')
(780, 'Grace77', 22, 'D')
(781, 'Ian78', 22, 'D')
(782, 'Xander79', 24, 'C')
(783, 'Tina80', 22, 'D')
(784, 'Wendy81', 20, 'A')
(785, 'Karen82', 23, 'B')
(786, 'Leo83', 18, 'C')
(787, 'Bob84', 18, 'A')
(788, 'Rita85', 18, 'A')
(789, 'Alice86', 21, 'B')
(790, 'Sam87', 19, 'C')
(791, 'Wendy88', 23, 'A')
(792, 'Tina89', 21, 'C')
(793, 'Zane90', 25, 'D')
(794, 'Tina91', 21, 'D')
(795, 'Wendy92', 19, 'C')
(796, 'Quincy93', 19, 'A')
(797, 'Eva94', 24, 'C')
(798, 'Tina95', 25, 'D')
(799, 'Ian96', 25, 'C')
(800, 'Mona97', 22, 'C')
(801, 'Leo98', 25, 'A')
(802, 'Bob99', 23, 'C')
(803, 'Paul100', 19, 'B')

In [112]:
#10.  Perform an INNER JOIN between students and courses using Python to show student names along with the courses they are enrolled in.

query = """
SELECT s.name AS student_name, c.course_name
FROM students s
INNER JOIN enrollments e ON s.student_id = e.student_id
INNER JOIN courses c ON e.course_id = c.course_id
ORDER BY s.name
"""
cursor.execute(query)
rows = cursor.fetchall()

if rows:
    print("Students and their enrolled courses:")
    for r in rows:
        print(f"Student: {r[0]}, Course: {r[1]}")
else:
    print("No enrollments found.")

Students and their enrolled courses:
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Economics
Student: Alice17, Course: Economics
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Economics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Economics
Student: Alice17, Course: Statistics
Student: Alice17, Course: Economics
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Economics
Student: Alice17, Course: Economics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Economics
Student: Alice17, Course: Mathematics
Student: Alice17, Course: Computer Science
Student: Alice17, Course: Mathematics
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Alice86, Course: Chemistry
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Mathematics
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Chemistry
Student: Bob14, Course: Mathematics
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob50, Course: Computer Science
Student: Bob53, Course: History
Student: Bob53, Course: Physics
Student: Bob53, Course: Physics
Student: Bob53, Course: History
Student: Bob53, Course: Biology
Student: Bob53, Course: History
Student: Bob53, Course: Physics
Student: Bob53, Course: History
Student: Bob53, Course: Biology
Student: Bob53, Course: Physics
Student: Bob53, Course: Physics
Student: Bob53, Course: History
Student: Bob53, Course: Physics
Student: Bob53, Course: Biology
Student: Bob53, Course: Biology
Student: Bob53, Course: History
Student: Bob53, Course: Physics
Student: Bob53, Course: History
Student: Bob53, Course: History
Student: Bob53, Course: Biology
Student: Bob53, Course: Biology
Student: Bob53, Course: Biology
Student: Bob53, Course: Biology
Student: Bob53, Course: Physics
Student: Bob84, Course: Chemistry
Student: Bob84, Course: Chemistry
Student: Bob84, Course: History
Student: Bob84, Course: History
Student: Bob84, Course: History
Student: Bob84, Course: History
Student: Bob84, Course: Chemistry
Student: Bob84, Course: Chemistry
Student: Bob84, Course: History
Student: Bob84, Course: Chemistry
Student: Bob84, Course: Chemistry
Student: Bob84, Course: Chemistry
Student: Bob84, Course: History
Student: Bob84, Course: Chemistry
Student: Bob84, Course: History
Student: Bob84, Course: History
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Physics
Student: Bob99, Course: Physics
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Physics
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Physics
Student: Bob99, Course: Physics
Student: Bob99, Course: Physics
Student: Bob99, Course: Computer Science
Student: Bob99, Course: Physics
Student: Bob99, Course: Physics
Student: Bob99, Course: Computer Science
Student: David33, Course: Biology
Student: David33, Course: Biology
Student: David33, Course: History
Student: David33, Course: History
Student: David33, Course: Biology
Student: David33, Course: History
Student: David33, Course: Biology
Student: David33, Course: History
Student: David33, Course: History
Student: David33, Course: Biology
Student: David33, Course: Biology
Student: David33, Course: Biology
Student: David33, Course: History
Student: David33, Course: History
Student: David33, Course: Biology
Student: David33, Course: History
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva47, Course: Physics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva56, Course: Economics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva58, Course: Mathematics
Student: Eva94, Course: Economics
Student: Eva94, Course: Economics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Economics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Economics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Economics
Student: Eva94, Course: Economics
Student: Eva94, Course: Economics
Student: Eva94, Course: Economics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Statistics
Student: Eva94, Course: Statistics
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Economics
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Economics
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Economics
Student: Frank21, Course: Economics
Student: Frank21, Course: Economics
Student: Frank21, Course: Economics
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Computer Science
Student: Frank21, Course: Economics
Student: Frank21, Course: Economics
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Frank35, Course: Computer Science
Student: Grace24, Course: Computer Science
Student: Grace24, Course: English Literature
Student: Grace24, Course: English Literature
Student: Grace24, Course: Computer Science
Student: Grace24, Course: Computer Science
Student: Grace24, Course: Computer Science
Student: Grace24, Course: English Literature
Student: Grace24, Course: English Literature
Student: Grace24, Course: Computer Science
Student: Grace24, Course: English Literature
Student: Grace24, Course: English Literature
Student: Grace24, Course: Computer Science
Student: Grace24, Course: English Literature
Student: Grace24, Course: Computer Science
Student: Grace24, Course: Computer Science
Student: Grace24, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: Chemistry
Student: Grace69, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: English Literature
Student: Grace69, Course: Chemistry
Student: Grace69, Course: Economics
Student: Grace69, Course: English Literature
Student: Grace69, Course: Chemistry
Student: Grace69, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: Chemistry
Student: Grace69, Course: Chemistry
Student: Grace69, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: Economics
Student: Grace69, Course: English Literature
Student: Grace69, Course: Chemistry
Student: Grace69, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: Chemistry
Student: Grace69, Course: English Literature
Student: Grace69, Course: Economics
Student: Grace69, Course: Chemistry
Student: Grace73, Course: Statistics
Student: Grace73, Course: Statistics
Student: Grace73, Course: Statistics
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Statistics
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Statistics
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Statistics
Student: Grace73, Course: Statistics
Student: Grace73, Course: Computer Science
Student: Grace73, Course: Statistics
Student: Grace74, Course: Economics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Economics
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Economics
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Economics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Economics
Student: Grace74, Course: Economics
Student: Grace74, Course: Computer Science
Student: Grace74, Course: Economics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Mathematics
Student: Grace74, Course: Economics
Student: Grace74, Course: Computer Science
Student: Grace77, Course: Economics
Student: Grace77, Course: Economics
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Biology
Student: Grace77, Course: Biology
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Economics
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Economics
Student: Grace77, Course: Biology
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Economics
Student: Grace77, Course: Biology
Student: Grace77, Course: Mathematics
Student: Grace77, Course: Economics
Student: Grace77, Course: Biology
Student: Grace77, Course: Biology
Student: Grace77, Course: Economics
Student: Grace77, Course: Biology
Student: Grace77, Course: Biology
Student: Grace77, Course: Economics
Student: Grace77, Course: Mathematics
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Philosophy
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Biology
Student: Hannah32, Course: Philosophy
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah39, Course: Economics
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Chemistry
Student: Hannah52, Course: Physics
Student: Hannah52, Course: Physics
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Hannah65, Course: Chemistry
Student: Ian29, Course: Chemistry
Student: Ian29, Course: Chemistry
Student: Ian29, Course: History
Student: Ian29, Course: History
Student: Ian29, Course: Chemistry
Student: Ian29, Course: Chemistry
Student: Ian29, Course: History
Student: Ian29, Course: History
Student: Ian29, Course: History
Student: Ian29, Course: Chemistry
Student: Ian29, Course: Chemistry
Student: Ian29, Course: Chemistry
Student: Ian29, Course: History
Student: Ian29, Course: Chemistry
Student: Ian29, Course: History
Student: Ian29, Course: History
Student: Ian37, Course: Physics
Student: Ian37, Course: Economics
Student: Ian37, Course: Physics
Student: Ian37, Course: Economics
Student: Ian37, Course: Economics
Student: Ian37, Course: Economics
Student: Ian37, Course: Physics
Student: Ian37, Course: Physics
Student: Ian37, Course: Economics
Student: Ian37, Course: Economics
Student: Ian37, Course: Physics
Student: Ian37, Course: Physics
Student: Ian37, Course: Economics
Student: Ian37, Course: Physics
Student: Ian37, Course: Physics
Student: Ian37, Course: Economics
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Statistics
Student: Ian41, Course: Statistics
Student: Ian41, Course: Statistics
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Statistics
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Statistics
Student: Ian41, Course: Statistics
Student: Ian41, Course: Statistics
Student: Ian41, Course: Chemistry
Student: Ian41, Course: Statistics
Student: Ian41, Course: Chemistry
Student: Ian6, Course: History
Student: Ian6, Course: Biology
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Computer Science
Student: Ian6, Course: History
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Biology
Student: Ian6, Course: History
Student: Ian6, Course: Biology
Student: Ian6, Course: History
Student: Ian6, Course: History
Student: Ian6, Course: Biology
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Biology
Student: Ian6, Course: History
Student: Ian6, Course: Biology
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Computer Science
Student: Ian6, Course: Biology
Student: Ian6, Course: History
Student: Ian6, Course: Biology
Student: Ian6, Course: History
Student: Ian6, Course: Computer Science
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Philosophy
Student: Ian72, Course: Computer Science
Student: Ian72, Course: Chemistry
Student: Ian72, Course: Chemistry
Student: Ian78, Course: Physics
Student: Ian78, Course: Physics
Student: Ian78, Course: Statistics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Physics
Student: Ian78, Course: Statistics
Student: Ian78, Course: Physics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Statistics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Physics
Student: Ian78, Course: Physics
Student: Ian78, Course: Statistics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Physics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Statistics
Student: Ian78, Course: Statistics
Student: Ian78, Course: Physics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Statistics
Student: Ian78, Course: Philosophy
Student: Ian78, Course: Statistics
Student: Ian96, Course: Physics
Student: Ian96, Course: Physics
Student: Ian96, Course: History
Student: Ian96, Course: History
Student: Ian96, Course: Philosophy
Student: Ian96, Course: History
Student: Ian96, Course: Physics
Student: Ian96, Course: Physics
Student: Ian96, Course: History
Student: Ian96, Course: Philosophy
Student: Ian96, Course: Physics
Student: Ian96, Course: Physics
Student: Ian96, Course: History
Student: Ian96, Course: Philosophy
Student: Ian96, Course: Philosophy
Student: Ian96, Course: Philosophy
Student: Ian96, Course: History
Student: Ian96, Course: Physics
Student: Ian96, Course: History
Student: Ian96, Course: Physics
Student: Ian96, Course: Philosophy
Student: Ian96, Course: Philosophy
Student: Ian96, Course: History
Student: Ian96, Course: Philosophy
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Statistics
Student: Jack70, Course: Statistics
Student: Jack70, Course: Statistics
Student: Jack70, Course: Statistics
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Statistics
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Statistics
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Computer Science
Student: Jack70, Course: Statistics
Student: Jack70, Course: Statistics
Student: Jack70, Course: Computer Science
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen23, Course: History
Student: Karen51, Course: Computer Science
Student: Karen51, Course: Biology
Student: Karen51, Course: English Literature
Student: Karen51, Course: Computer Science
Student: Karen51, Course: English Literature
Student: Karen51, Course: Computer Science
Student: Karen51, Course: English Literature
Student: Karen51, Course: Biology
Student: Karen51, Course: Biology
Student: Karen51, Course: Computer Science
Student: Karen51, Course: English Literature
Student: Karen51, Course: Biology
Student: Karen51, Course: English Literature
Student: Karen51, Course: Biology
Student: Karen51, Course: English Literature
Student: Karen51, Course: Computer Science
Student: Karen51, Course: Computer Science
Student: Karen51, Course: Computer Science
Student: Karen51, Course: English Literature
Student: Karen51, Course: Biology
Student: Karen51, Course: Biology
Student: Karen51, Course: Biology
Student: Karen51, Course: English Literature
Student: Karen51, Course: Computer Science
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen68, Course: Chemistry
Student: Karen82, Course: Chemistry
Student: Karen82, Course: Chemistry
Student: Karen82, Course: Chemistry

In [113]:
#11. Write a Python function to search for a student by name (partial matches allowed using LIKE).

def search_student(cursor, name_part):
    query = "SELECT student_id, name, age, grade FROM students WHERE name LIKE %s"
    cursor.execute(query, ('%' + name_part + '%',))
    rows = cursor.fetchall()
    return rows

results = search_student(cursor, "Alice17")
for r in results:
    print(f"ID: {r[0]}, Name: {r[1]}, Age: {r[2]}, Grade: {r[3]}")

ID: 1, Name: Alice17, Age: 20, Grade: A
ID: 17, Name: Alice17, Age: 25, Grade: B
ID: 117, Name: Alice17, Age: 25, Grade: B
ID: 217, Name: Alice17, Age: 25, Grade: B
ID: 318, Name: Alice17, Age: 25, Grade: B
ID: 419, Name: Alice17, Age: 25, Grade: B
ID: 519, Name: Alice17, Age: 25, Grade: B
ID: 620, Name: Alice17, Age: 25, Grade: B

In [114]:
#12.  Add a new column email to the students table using Python and update it
'''
import numpy as np

# 1. Add email column
cursor.execute("ALTER TABLE students ADD COLUMN email VARCHAR(100)")

# 2. Generate random emails
cursor.execute("SELECT student_id, name FROM students")
students = cursor.fetchall()

emails = [f"{name.lower().replace(' ', '')}{np.random.randint(1,1000)}@example.com" 
          for _, name in students]

# 3. Update table with generated emails
for (student_id, _), email in zip(students, emails):
    cursor.execute("UPDATE students SET email=%s WHERE student_id=%s", (email, student_id))

print("Email column added and updated with random values.")'''

'\nimport numpy as np\n\n# 1. Add email column\ncursor.execute("ALTER TABLE students ADD COLUMN email VARCHAR(100)")\n\n# 2. Generate random emails\ncursor.execute("SELECT student_id, name FROM students")\nstudents = cursor.fetchall()\n\nemails = [f"{name.lower().replace(\' \', \'\')}{np.random.randint(1,1000)}@example.com" \n          for _, name in students]\n\n# 3. Update table with generated emails\nfor (student_id, _), email in zip(students, emails):\n    cursor.execute("UPDATE students SET email=%s WHERE student_id=%s", (email, student_id))\n\nprint("Email column added and updated with random values.")'

In [115]:
#13.  Create a program to count how many students are enrolled per course and display results in descending order.

query = """
SELECT c.course_name, COUNT(e.student_id) AS student_count
FROM courses c
LEFT JOIN enrollments e ON c.course_id = e.course_id
GROUP BY c.course_name
ORDER BY student_count DESC
"""
cursor.execute(query)
rows = cursor.fetchall()

print("Students enrolled per course:")
for r in rows:
    print(f"Course: {r[0]}, Students Enrolled: {r[1]}")

Students enrolled per course:
Course: Chemistry, Students Enrolled: 224
Course: Philosophy, Students Enrolled: 176
Course: Mathematics, Students Enrolled: 168
Course: History, Students Enrolled: 168
Course: Computer Science, Students Enrolled: 168
Course: Economics, Students Enrolled: 160
Course: Statistics, Students Enrolled: 147
Course: Biology, Students Enrolled: 144
Course: Physics, Students Enrolled: 128
Course: English Literature, Students Enrolled: 104

In [116]:
#14.  Write a Python script that accepts a course name as input and returns all enrolled students with their grades.

course_name = input("Enter course name: ")

query = """
SELECT s.student_id, s.name, s.grade
FROM students s
JOIN enrollments e ON s.student_id = e.student_id
JOIN courses c ON e.course_id = c.course_id
WHERE c.course_name = %s
"""
cursor.execute(query, (course_name,))
rows = cursor.fetchall()

if rows:
    print(f"Students enrolled in {course_name}:")
    for r in rows:
        print(f"ID: {r[0]}, Name: {r[1]}, Grade: {r[2]}")
else:
    print(f"No students found for the course '{course_name}'.")

Students enrolled in Physics:
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C
ID: 13, Name: Yara13, Grade: B
ID: 15, Name: Quincy15, Grade: A
ID: 37, Name: Ian37, Grade: D
ID: 43, Name: Quincy43, Grade: D
ID: 47, Name: Eva47, Grade: D
ID: 52, Name: Hannah52, Grade: A
ID: 53, Name: Bob53, Grade: C
ID: 57, Name: Nina57, Grade: B
ID: 60, Name: Yara60, Grade: B
ID: 75, Name: Quincy75, Grade: D
ID: 78, Name: Ian78, Grade: D
ID: 83, Name: Leo83, Grade: C
ID: 90, Name: Zane90, Grade: D
ID: 91, Name: Tina91, Grade: D
ID: 96, Name: Ian96, Grade: C
ID: 99, Name: Bob99, Grade: C

In [117]:
#15. Export the contents of the students table into a CSV file using Python.

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
columns = [desc[0] for desc in cursor.description]

# create DataFrame and export to CSV
df = pd.DataFrame(rows, columns=columns)
df.to_csv("students_export.csv", index=False)

print("Students table exported to students_export.csv")

Students table exported to students_export.csv

In [118]:
#16.  Write a Python program to import student data from a CSV file into the students table.

# prepare data (ignore student_id if AUTO_INCREMENT)
students = list(students_df[['name', 'age', 'grade']].itertuples(index=False, name=None))

# insert into students table
sql = "INSERT INTO students (name, age, grade) VALUES (%s, %s, %s)"
cursor.executemany(sql, students)
conn.commit()
print(cursor.rowcount, "students imported from CSV.")

100 students imported from CSV.

In [119]:
#17.  Create a stored procedure in MySQL (e.g., GetStudentCourses(student_id)) and call it from Python.

student_id = int(input("Enter Student ID: "))

# call stored procedure
cursor.callproc("GetStudentCourses", [student_id])

# fetch results
for result in cursor.stored_results():
    rows = result.fetchall()
    if rows:
        print(f"Courses for student {student_id}:")
        for r in rows:
            print(f"Student: {r[0]},  Course: {r[1]}")
    else:
        print(f"No courses found for student {student_id}.")

Courses for student 100:
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy
Student: Paul100,  Course: Philosophy

C:\Users\Sravanthi\AppData\Local\Temp\ipykernel_23176\1134019567.py:9: DeprecationWarning: Call to deprecated function stored_results. Reason: The property counterpart 'stored_results' will be added in a future release, and this method will be removed.
  for result in cursor.stored_results():

In [120]:
#18. Handle exceptions in Python to gracefully catch duplicate entries (e.g. inserting a student with the same ID). 

from mysql.connector import IntegrityError

try:
    sql = "INSERT INTO students (student_id, name, age, grade, email) VALUES (%s, %s, %s, %s, %s)"
    val = (1, "Alice17", 20, "A", "alice@example.com")  # duplicate ID example
    cursor.execute(sql, val)
    conn.commit()
    print("Student inserted successfully.")

except IntegrityError as e:
    if e.errno == 1062:  # Duplicate entry error code
        print("Error: Duplicate entry! A student with this ID already exists.")
    else:
        print(f"MySQL IntegrityError: {e}")

Error: Duplicate entry! A student with this ID already exists.

In [121]:
#19.  

try:
    # start transaction
    conn.start_transaction()

    # 1. Insert a new student
    sql_student = "INSERT INTO students (name, age, grade, email) VALUES (%s, %s, %s, %s)"
    student_data = ("VASISTA101", 22, "A", "VASISTA@outlook.com")
    cursor.execute(sql_student, student_data)
    student_id = cursor.lastrowid  # get new student_id

    # 2. Enroll student in a course (intentionally using wrong course_id to demo rollback)
    sql_enroll = "INSERT INTO enrollments (student_id, course_id) VALUES (%s, %s)"
    enroll_data = (student_id, 10)  # 9999 = non-existing course_id (will fail) ALR TRIED
    cursor.execute(sql_enroll, enroll_data)

    # commit only if both succeed
    print("Transaction successful: student inserted and enrolled.")

except mysql.connector.Error as e:
    # rollback on any error
    conn.rollback()
    print("Transaction failed, rolled back.")
    print("Error:", e)

Transaction failed, rolled back.
Error: Transaction already in progress

In [122]:
#20 Close the database connection safely in Python, ensuring both cursor and connection are properly closed.

try:
    # your SQL queries here
    conn.commit()   # commit all changes
    print("Changes committed successfully.")

except Exception as e:
    conn.rollback()  # rollback on error
    print("Error occurred, rolled back:", e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()
    print("Database connection closed safely.")

Changes committed successfully.
Database connection closed safely.